<template>  
    <div class="mdl-grid custom-padding">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Lista poslova</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <p>Title</p>
                </div>
                <div class="mdl-cell mdl-cell--12-col">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="mdl-cell mdl-cell--12-col">
                    <button class="btn-blue right mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Obrisi
                    </button> 
                    <button class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Izmeni
                    </button>
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <p>Title</p>
                </div>
                <div class="mdl-cell mdl-cell--12-col">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="mdl-cell mdl-cell--12-col">
                    <button class="btn-blue right mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Obrisi
                    </button> 
                    <button class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Izmeni
                    </button>
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <p>Title</p>
                </div>
                <div class="mdl-cell mdl-cell--12-col">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="mdl-cell mdl-cell--12-col">
                    <button class="btn-blue right mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Obrisi
                    </button> 
                    <button class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Izmeni
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
    
</style>