<template> 
    <div class="mdl-grid custom-padding">
		<div class="mdl-cell mdl-cell--8-col">
			<div class="mdl-card__title">
            	<h2 class="mdl-card__title-text">Lista studenta</h2>
	        </div>
	        <div class="mdl-card__supporting-text">
	            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	            Mauris sagittis pellentesque lacus eleifend lacinia...
	        </div>
		</div>
		<div class="mdl-cell mdl-cell--4-col search-students">
			<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
					<label class="mdl-button mdl-js-button mdl-button--icon" for="site-search">
						<i class="material-icons">search</i>
					</label>
					<div class="mdl-textfield__expandable-holder">
						<input class="mdl-textfield__input" type="search" id="site-search" />
						<label class="mdl-textfield__label" for="site-search">Search</label>
					</div>
				</div>
			</form>
		</div>
		<!-- <div class="mdl-cell mdl-cell--12-col search-students">
			<p>Pretrazite studenta:</p>
		</div> -->
        <div class="mdl-cell mdl-cell--6-col">
			<ul class="demo-list-three mdl-list">
				<li class="mdl-list__item mdl-list__item--three-line">
					<div class="mdl-grid">
						<div class="mdl-cell mdl-cell--12-col">
							<span class="mdl-list__item-primary-content">
								<i class="material-icons mdl-list__item-avatar">person</i>
								<span>Zoran Kustrimovic</span>
								<span class="mdl-list__item-text-body">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			            		Mauris sagittis pellentesque lacus eleifend lacinia...
								</span>
							</span>
						</div>
						<div class="mdl-cell mdl-cell--12-col pull-right">
							<button class="mdl-button mdl-js-button mdl-button--raised">
				  				Opsirnije
							</button>
						</div>
					</div>
				</li>
				<li class="mdl-list__item mdl-list__item--three-line">
					<div class="mdl-grid">
						<div class="mdl-cell mdl-cell--12-col">
							<span class="mdl-list__item-primary-content">
								<i class="material-icons mdl-list__item-avatar">person</i>
								<span>Darko Kostic</span>
								<span class="mdl-list__item-text-body">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			            		Mauris sagittis pellentesque lacus eleifend lacinia...
								</span>
							</span>
						</div>
						<div class="mdl-cell mdl-cell--12-col pull-right">
							<button class="mdl-button mdl-js-button mdl-button--raised">
				  				Opsirnije
							</button>
						</div>
					</div>
				</li>
				<li class="mdl-list__item mdl-list__item--three-line">
					<div class="mdl-grid">
						<div class="mdl-cell mdl-cell--12-col">
							<span class="mdl-list__item-primary-content">
								<i class="material-icons mdl-list__item-avatar">person</i>
								<span>Aleksandar Vukasinovic</span>
								<span class="mdl-list__item-text-body">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			            		Mauris sagittis pellentesque lacus eleifend lacinia...
								</span>
							</span>
						</div>
						<div class="mdl-cell mdl-cell--12-col pull-right">
							<button class="mdl-button mdl-js-button mdl-button--raised">
				  				Opsirnije
							</button>
						</div>
					</div>
				</li>
			</ul>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
			<ul class="demo-list-three mdl-list">
				<li class="mdl-list__item mdl-list__item--three-line">
					<div class="mdl-grid">
						<div class="mdl-cell mdl-cell--12-col">
							<span class="mdl-list__item-primary-content">
								<i class="material-icons mdl-list__item-avatar">person</i>
								<span>Darko Djordjevic</span>
								<span class="mdl-list__item-text-body">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			            		Mauris sagittis pellentesque lacus eleifend lacinia...
								</span>
							</span>
						</div>
						<div class="mdl-cell mdl-cell--12-col pull-right">
							<button class="mdl-button mdl-js-button mdl-button--raised">
				  				Opsirnije
							</button>
						</div>
					</div>
				</li>
				<li class="mdl-list__item mdl-list__item--three-line">
					<div class="mdl-grid">
						<div class="mdl-cell mdl-cell--12-col">
							<span class="mdl-list__item-primary-content">
								<i class="material-icons mdl-list__item-avatar">person</i>
								<span>Nikola Jovanovic</span>
								<span class="mdl-list__item-text-body">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			            		Mauris sagittis pellentesque lacus eleifend lacinia...
								</span>
							</span>
						</div>
						<div class="mdl-cell mdl-cell--12-col pull-right">
							<button class="mdl-button mdl-js-button mdl-button--raised">
				  				Opsirnije
							</button>
						</div>
					</div>
				</li>
				<li class="mdl-list__item mdl-list__item--three-line">
					<div class="mdl-grid">
						<div class="mdl-cell mdl-cell--12-col">
							<span class="mdl-list__item-primary-content">
								<i class="material-icons mdl-list__item-avatar">person</i>
								<span>Danilo Cvetkovic</span>
								<span class="mdl-list__item-text-body">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			            		Mauris sagittis pellentesque lacus eleifend lacinia...
								</span>
							</span>
						</div>
						<div class="mdl-cell mdl-cell--12-col pull-right">
							<button class="mdl-button mdl-js-button mdl-button--raised">
				  				Opsirnije
							</button>
						</div>
					</div>
				</li>
			</ul>
        </div>
        <div class="mdl-cell mdl-cell--4-col">

        </div>
        <div class="mdl-cell mdl-cell--4-col text-center load-more">
        	<button class="mdl-button mdl-js-button mdl-button--raised">
  				Ucitaj vise
			</button>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
        	
        </div>
    </div>
</template>
<style>
	.search-students form {
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 30px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 0px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	}
	.search-students label {
		margin-left: 10px;
	}
	.search-students input {
		margin-left: 10px;
	}
	.search-students p {
		margin-left: 15px;
	}
	.load-more button {
		width: 200px;
	}	
	.mdl-list__item--three-line {
		height: auto;
	}
</style>

