<template>  
    <div class="mdl-grid custom-padding">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Ponuda za posao</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Najnoviji oglasi za posao.
            </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col" v-for="post in posts">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">{{post.title}}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    {{post.description}}
                </div>
                <div class="mdl-card__actions mdl-card--border mdl-textfield--align-right">
                    <a href="#/single-view-home" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Procitaj vise
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                posts: 'post'
            }
        },
        mounted() {
            axios.get('api/posts').then((response) => {
                this.posts = response.data.entity;
                console.log(response);
            });
        }
    }
</script>

