.container {
    padding-left: 15px;
    padding-right: 15px;
}
.text-center {
    text-align: center;
}
.pull-right {
    text-align: right;
}
.demo-layout-transparent {
    background-color: white;
}
.mdl-layout__header-row {
    background-color: #00B0FF;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
    color: white;
}
.active .label-control::after {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.active .label-control .label-text {
    opacity: 1;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    color: #03A9F4 !important;
}

.input-field label:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #B9C1CA;
    transition: transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
}
.text-p {
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
}

.mdl-card__actions {
    background-color: #00B0FF !important;
}
.mdl-button.mdl-button--colored {
    color: #fff !important;
}
.text-p a {
    color: #175690;
}
.img-logo {
    height: auto;
    width: 200px;
    padding-right: 20px;
}
a {
    text-decoration: none;
}
.mdl-layout__header-row {
    padding: 0 30px 0 30px !important;
    height: 80px !important;
    box-shadow: 0px 0px 30px #888888;
}
.mdl-card {
    width: 100% !important;
    min-height: 0px !important;
}
.mdl-card__title {
    color: #757575 !important;
}
.custom-padding {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}
.oss {
    width: 100%;
}
.oss img {
    width: 60px;
    height: auto;
    float: left;
}
.oss p {
    color: rgba(0,0,0,.54);
    height: 60px;
    line-height: 60px;
    margin: 0px;
    margin-left: 15px;
}