<template>  
    <div class="mdl-grid custom-padding">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Lista korisnika</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                <a href="#studenti-panel" class="mdl-tabs__tab is-active">Studenti</a>
                <a href="#predavaci-panel" class="mdl-tabs__tab">Predavaci</a>
                <a href="#kompanije-panel" class="mdl-tabs__tab">Kompanije</a>
                <a href="#administratori-panel" class="mdl-tabs__tab">Administratori</a>
            </div>

            <div class="mdl-tabs__panel is-active" id="studenti-panel">
                <ul style="list-style: none outside none; margin-left: -30px;">
                    <li>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col border-list">
                                <p style="float: left;">Zoran Kustrimovic</p>
                                <button class="btn-blue right mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Obrisi
                                </button> 
                                <button class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Izmeni
                                </button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col border-list">
                                <p style="float: left;">Darko Kostic</p>
                                <button class="right mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Obrisi
                                </button> 
                                <button class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Izmeni
                                </button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col border-list">
                                <p style="float: left;">Aleksandar Vukasinovic</p>
                                <button class="right mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Obrisi
                                </button> 
                                <button class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Izmeni
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="add-user">
                    <button style="margin-right: 15px;" class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Dodaj
                    </button>
                </div>
            </div>
            <div class="mdl-tabs__panel" id="predavaci-panel">
                <ul style="list-style: none outside none; margin-left: -30px;">
                    <li>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col border-list">
                                <p style="float: left;">Zoran Kustrimovic</p>
                                <button class="btn-blue right mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Obrisi
                                </button> 
                                <button class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Izmeni
                                </button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col border-list">
                                <p style="float: left;">Darko Kostic</p>
                                <button class="right mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Obrisi
                                </button> 
                                <button class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Izmeni
                                </button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col border-list">
                                <p style="float: left;">Aleksandar Vukasinovic</p>
                                <button class="right mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Obrisi
                                </button> 
                                <button class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Izmeni
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="add-user">
                    <button style="margin-right: 15px;" class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Dodaj
                    </button>
                </div>
            </div>
            <div class="mdl-tabs__panel" id="kompanije-panel">
                <ul style="list-style: none outside none; margin-left: -30px;">
                    <li>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col border-list">
                                <p style="float: left;">Zoran Kustrimovic</p>
                                <button class="btn-blue right mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Obrisi
                                </button> 
                                <button class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Izmeni
                                </button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col border-list">
                                <p style="float: left;">Darko Kostic</p>
                                <button class="right mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Obrisi
                                </button> 
                                <button class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Izmeni
                                </button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col border-list">
                                <p style="float: left;">Aleksandar Vukasinovic</p>
                                <button class="right mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Obrisi
                                </button> 
                                <button class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Izmeni
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="add-user">
                    <button style="margin-right: 15px;" class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Dodaj
                    </button>
                </div>
            </div>
            <div class="mdl-tabs__panel" id="administratori-panel">
                <ul style="list-style: none outside none; margin-left: -30px;">
                    <li>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col border-list">
                                <p style="float: left;">Zoran Kustrimovic</p>
                                <button class="btn-blue right mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Obrisi
                                </button> 
                                <button class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Izmeni
                                </button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col border-list">
                                <p style="float: left;">Darko Kostic</p>
                                <button class="right mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Obrisi
                                </button> 
                                <button class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Izmeni
                                </button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col border-list">
                                <p style="float: left;">Aleksandar Vukasinovic</p>
                                <button class="right mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Obrisi
                                </button> 
                                <button class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Izmeni
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="add-user">
                    <button style="margin-right: 15px;" class="right edit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Dodaj
                    </button>
                </div>
            </div>
        </div>  
    </div>
</template>
<style>
    .right {
        float: right;
    }
    .edit-button {
        margin-right: 10px;
    }
    .border-list {
        border-bottom: 1px solid #00B0FF;
    }
    .mdl-button--raised.mdl-button--colored {
        background-color: #00B0FF;
        color: #fff;
    }
    .mdl-button--raised.mdl-button--colored:hover {
        background-color: #00B0FF;
        color: #fff;
    }
    .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
        background: #00B0FF;
    }
    .add-user {
        width: 100%;
        height: 40px;
    }
</style>