<template>
    <div id="app">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/"><img src="./assets/vts_logo.png"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <router-link class="dropdown-item" to="/">Početna</router-link>
                        </li>
                        <li>
                            <router-link class="dropdown-item" to="/students">Studenti</router-link>
                        </li>
                        <li v-if="this.test === 'admin' || this.Role === 'admin'">
                            <router-link class="dropdown-item" to="/kursevi">Kreiranje kursa</router-link>
                        </li>
                        <li>
                            <router-link class="dropdown-item" to="/lista-kurseva">Lista kurseva</router-link>
                        </li>
                        <li v-if="this.test === 'teacher' || this.Role === 'teacher'">
                            <router-link class="dropdown-item" to="/my-courses">Moji kursevi</router-link>
                        </li>
                        <li >
                            <router-link class="dropdown-item" to="/certificates">Sertifikati</router-link>
                        </li>
                        <li >
                            <router-link class="dropdown-item" to="/company">Kompanije</router-link>
                        </li>
                        <li v-if="this.test === 'company' || this.Role === 'company'">
                            <router-link class="dropdown-item" to="/my-company-news">Moji oglasi</router-link>
                        </li>
                         <li>
                            <router-link class="dropdown-item" to="/company-news">Oglasi kompanija</router-link>
                        </li>
                        <li v-if="this.test === 'admin' || this.Role === 'admin' || this.test === 'teacher' || this.Role === 'teacher' || this.test === 'company' || this.Role === 'company'">
                            <router-link class="dropdown-item" to="/suggestions">Preporuke</router-link>
                        </li>
                        <!--<li v-if="this.test === 'teacher' || this.Role === 'teacher' || this.test === 'company' || this.Role === 'company'">-->
                            <!--<router-link class="dropdown-item" to="/my-suggestions">Moje preporuke</router-link>-->
                        <!--</li>-->
                        <li v-if="this.test === 'student' || this.Role === 'student' || this.test === 'teacher' || this.Role === 'teacher'">
                            <router-link class="dropdown-item" to="/my-applications">Moje aplikacije</router-link>
                        </li>
                    </ul>
                    <ul v-if="this.test === 'student' || this.Role === 'student' || this.test === 'admin' || this.Role === 'admin' || this.test === 'company' || this.Role === 'company' || this.test === 'teacher' || this.Role === 'teacher'" class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a v-if="this.test === 'company' || this.Role === 'company'" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> {{userData.name}} <span class="caret"></span></a>
                            <a v-if="this.test === 'student' || this.Role === 'student' || this.test === 'admin' || this.Role === 'admin' || this.test === 'teacher' || this.Role === 'teacher'" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> {{userData.first_name}} {{userData.last_name}} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li v-if="this.test === 'student' || this.Role === 'student' || this.test === 'teacher' || this.Role === 'teacher'"><router-link to="/account_edit">Moj nalog</router-link></li>
                                <li v-if="this.test === 'admin' || this.Role === 'admin'"><router-link to="/settings">Podešavanja</router-link></li>
                                <li v-if="this.test === 'teacher' || this.Role === 'teacher' || this.test === 'company' || this.Role === 'company' || this.test === 'student' || this.Role === 'student'">
                                    <router-link class="dropdown-item" to="/contact">Kontakt</router-link>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a class="logOut" @click="logOut()">Odjavi me</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!--<img src="./assets/logo.png">-->
        <router-view></router-view>
        <!--<div class="container-fluid footer">-->
            <!--<h1><a href="www.vts.edu.rs">www.vts.edu.rs</a></h1>-->
        <!--</div>-->
    </div>
</template>

<script>
//import AOS from 'aos';
export default {
//    bind(el, binding, vnode) {
//        // add listener
//        AOS.init({
//            duration: 3000
//        });
//    },
    name: 'app',
    data() {
        return {
            Role: '',
            test: '',
            user: [],
            userData: []
        }
    },
    created: function () {
        window.eventHub.$on('role', this.getRole);
        window.eventHub.$on('user', this.getUserData);

        this.user = this.$localStorage.get('user');
        this.userData = JSON.parse(this.user);
        console.log(this.userData);
        this.Role = this.$localStorage.get('role');
        console.log("Iz localstorage rola", this.Role);
    },
    methods: {
        getRole(role) {
            this.test = role;
            console.log("Emitovano", this.test);
            this.Role = this.$localStorage.get('role');
            console.log("Iz localstorage rola", this.Role);
        },
        getUserData() {
            this.user = this.$localStorage.get('user');
            this.userData = JSON.parse(this.user);
            console.log(this.userData);
        },
        logOut() {
            this.$localStorage.remove('token');
            this.$localStorage.remove('user');
            this.$localStorage.remove('role');
        }
    }
}
</script>

<style>
    .design-form, .card, .card-students, .card-courses, .card-certificates, .card-company, .card-compNews, .suggestion-card {
        background-color: #fff;
    }
    body {
        background-color: #f9f9f9;
    }
    textarea {
        resize: none;
    }
    input {
        border-radius: 1px;
    }
    .dropdown-menu>li>a:hover {
        background-color: #4ba9f9!important;
        color: #fff!important;
    }
    .navbar-default .navbar-nav>.open>a {
        background-color: #4ba9f9!important;
        color: #fff!important;
    }
    .router-link-exact-active, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        background-color: #4ba9f9;
        color: #fff!important;
    }
    .navbar {
        background-color: #0275d8;
    }
    .navbar-default .navbar-nav>li>a {
        color: #fff;
    }
    .navbar-default .navbar-nav>li>a:hover {
        background-color: #4ba9f9;
        color: #fff;
    }
    .header img {
      height: 30px;
      margin-top: 10px;
      padding-right: 15px;
    }
    .footer {
        height: 150px;
        background-color: #0275d8;
        color: #fff;
        margin-top: 40px;
        text-align: center;
    }
    .footer a {
        text-decoration: none;
        color: #fff;
        line-height: 120px;
    }
    .footer a {
        text-decoration: none;
        color: #fff;
    }
    .pagination>.active>a {
        background-color: #0275d8;
        border-color: #0275d8;
    }
    .pagination>li>a {
        color: #0275d8;
    }
    .logOut {
        cursor: pointer;
    }
</style>
