<template>
    <div class="container myAcco">
        <div class="row title">
            <div class="col-xs-12 col-md-12">
                <h1>Izmeni nalog</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="design-form-accEdit">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Ime</label>
                                <input disabled v-model="editUser.first_name" type="text" class="form-control" placeholder="Upisi ime">
                            </div>
                            <div class="col-xs-6">
                                <label>Prezime</label>
                                <input disabled v-model="editUser.last_name" type="text" class="form-control" placeholder="Upisi prezime">
                            </div>
                            <div class="col-xs-6">
                                <label>Datum rodjenja</label>
                                <input disabled v-model="editUser.date_of_birth" type="date" class="form-control" placeholder="29/09/1995">
                            </div>
                            <div class="col-xs-6">
                                <label>Email</label>
                                <input disabled v-model="editUser.email" type="email" class="form-control" placeholder="info@gmail.com">
                            </div>
                            <div class="col-xs-6">
                                <label>Grad</label>
                                <input v-model="editUser.city" type="text" class="form-control" placeholder="Unesite grad">
                            </div>
                            <div class="col-xs-6">
                                <label>Obrazovanje</label>
                                <input v-model="editUser.education" type="text" class="form-control" placeholder="Obrazovanje">
                            </div>
                            <div class="col-xs-6">
                                <label>Radni odnos</label>
                                <input v-model="editUser.employment" type="text" class="form-control" placeholder="Radni odnos">
                            </div>
                            <div class="col-xs-6">
                                <label>Radno mesto</label>
                                <input v-model="editUser.workplace" type="text" class="form-control" placeholder="Radno mesto">
                            </div>
                            <div class="col-xs-6">
                                <label>Linkedin url</label>
                                <input v-model="editUser.linkedin_url" type="text" class="form-control" placeholder="Unesite link">
                            </div>
                            <div class="col-xs-6">
                                <label for="file">Upload slike</label><br>
                                <input type="file" class="" id="file">
                            </div>
                            <div class="col-xs-12 text-right">
                                <button @click="createCV()" class="btn-add-accEdit">Potvrdi</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editUser: {
                    first_name: '',
                    last_name: '',
                    date_of_birth: '',
                    email: '',
                    city: '',
                    education: '',
                    employment: '',
                    workplace: '',
                    linkedin_url: '',
                },
                userData: [],
            }
        },
        methods: {
            getId() {
                let data = this.$localStorage.get('user');
                this.userData = JSON.parse(data);
            },
            getUserEdit(){
                axios.get(api + 'students/' + this.userData.id).then(response =>{
                    this.editUser = response.data.entity;
                    console.log(this.editUser);
                }).catch(error => {
                    console.log(error);
                })
            },
            createCV() {
                let data = new FormData();
                data.append('first_name', this.editUser.first_name);
                data.append('last_name', this.editUser.last_name);
                data.append('date_of_birth', this.editUser.date_of_birth);
                data.append('email', this.editUser.email);
                data.append('city', this.editUser.city);
                data.append('education', this.editUser.education);
                data.append('employment', this.editUser.employment);
                data.append('workplace', this.editUser.workplace);
                data.append('linkedin_url', this.editUser.linkedin_url);
                data.append('profile_img', document.getElementById('file').files[0]);

                axios.post(api + 'students/update/' + this.userData.id, data).then(response => {
                    console.log(response);
                    this.$toaster.success(response.data.message);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
        },
        beforeMount() {
            this.getId();
            this.getUserEdit();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .title h1 {
        color: #5a5a5a;
        /*float: left;*/
        margin: 0px;
        text-align: left;
    }
    .design-form-accEdit {
        margin-top: 30px !important;
        margin-bottom: 80px !important;
        background-color: #fff;
        padding: 15px;
        /*margin: auto;*/
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
        /*max-width: 500px;*/
    }
    .myAcco {
        margin-top: 30px;
    }
    label {
        color: #8a8a8a;
    }
    .form-control {
        border-radius: 0px;
    }
    .btn-add-accEdit {
        border-width: 1px;
        border-color: #8c8c8c80;
        border-style: solid;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 200px;
        height: 40px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-top: 15px;
        /*float: right;*/
    }
    .btn-add-accEdit:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
</style>
