<template>
     <div class="container news">
        <div class="row title">
            <div class="col-xs-12 col-md-2">
                <h1>Sertifikati</h1>
            </div>
            <div class="col-xs-12 col-md-10">
                <button v-if="role == 'admin'" type="button" class="btn-add pull-right" data-toggle="modal" data-target="#myModal">Dodaj sertifikat</button>
                <input v-debounce="delay" v-model.lazy="searchData" class="search" type="text" name="search" placeholder="Search..">
            </div>
        </div>
        <div class="row certificates-content">
            <p v-if="certificates == null">Nema rezultat</p>
            <div v-if="certificates != null" class="col-xs-12 col-md-6 certificates-margin" v-for="(certificate, index) in certificates">
                <div class="card-certificates">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>{{certificate.title | truncate(50)}}</h2>
                        </div>
                        <div class="col-xs-12">
                            <p>{{certificate.description | truncate(65)}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 p-t-25">
                            <button v-if="role == 'admin'" @click="getCertificateDelete(certificate.id, index)" type="button" class="btn-delete pull-right" data-toggle="modal" data-target="#deleteCertificates">Obriši</button>
                            <button v-if="role == 'admin'" @click="getCertificateId(certificate.id), getCertificateEdit(certificate.id)" data-toggle="modal" data-target="#editCertificates" type="button" class="btn-edit pull-right">Izmeni</button>
                            <button @click="goTo(certificate.id)" type="button" class="btn-more pull-right">Vidi više</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div v-if="totalItems > 10" is="uib-pagination" :total-items="totalItems" :max-size="maxSize" v-model="pagination1" @change="pageChanged()"></div>
            </div>
        </div>
         <!--MODAL Dodaj post-->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dodaj sertifikat</h4>
                    </div>
                    <div class="modal-body padding-left-right">
                        <form>
                        <div class="form-group">
                        <label for="formGroupExampleInput">Naslov</label>
                        <input v-model="addCertificateData.title" type="text" class="form-control" id="formGroupExampleInput">
                        </div>
                        <div class="form-group">
                        <label for="exampleTextarea">Opis</label>
                        <textarea v-model="addCertificateData.description" class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button v-bind:disabled="!isValid" @click="addCertificate()" type="button" class="btn btn-default" data-dismiss="modal" >Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--MODAL Izmeni post-->
        <div id="editCertificates" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Izmeni sertifikat</h4>
                    </div>
                        <div class="modal-body padding-left-right">
                            <form>
                                <div class="form-group">
                                    <label for="formGroupExampleInput">Naslov</label>
                                    <input v-model="editCertificateData.title" type="text" class="form-control" id="formGroupExampleInput">
                                </div>
                                <div class="form-group">
                                    <label for="exampleTextarea">Opis</label>
                                    <textarea v-model="editCertificateData.description" class="form-control" id="exampleTextarea" rows="3"></textarea>
                                </div>
                            </form>
                        </div>
                    <div class="modal-footer">
                        <button @click="editCertificatePost(certificateId)" type="button" class="btn btn-default" data-dismiss="modal">Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL potvrdi brisanje-->
        <div id="deleteCertificates" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Potvrdi brisanje kompanije</h4>
                    </div>
                    <!--<div class="modal-body">-->

                    <!--</div>-->
                    <div class="modal-footer">
                        <button @click="deleteCertificate(deleteCertificateId, certificateIndex)" type="button" class="btn btn-default" data-dismiss="modal">Potvrdi</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    import debounce from 'v-debounce'
    export default {
        data() {
            return {
                certificates: [],
                addCertificateData: {
                    title: '',
                    description: '',
                },
                editCertificateData: [],
                certificateId: '',
                certificateIndex: '',
                deleteCertificateId: '',
                searchData: '',
                delay: 700,
                endpoint: endPoint,
                role: role,
                totalItems: 0,
                pagination1: { currentPage: 1, },
                maxSize: 5,
            }
        },
        watch: {
            searchData () {
                axios.post(api + 'certificates/search', {
                    keyword: this.searchData
                }).then(response => {
                    this.certificates = response.data.entity.data;
                    this.totalItems = response.data.entity.total;
                    console.log(response);
                }).catch(error => {
                    console.log(error);
                })
            }
        },
        directives: {debounce},
        computed:{
            isValid(){
                return this.addCertificateData.title != '' && this.addCertificateData.description != '';
            }
        },
        methods: {
            pageChanged: function() {
                this.getCertificates(this.pagination1.currentPage);
                console.log('Page changed to: ' + this.pagination1.currentPage);
            },
             getCertificates(pageNum){
                axios.get(api + 'certificates?page='+pageNum).then(response =>{
                    this.certificates = response.data.entity.data;
                    this.totalItems = response.data.entity.total;
                    console.log(this.certificates);
                }).catch(error => {
                    console.log(error);
                })
            },
             addCertificate() {
                axios.post(api + 'certificates', {
                    title: this.addCertificateData.title,
                    description: this.addCertificateData.description,
                }).then(response => {
                    this.getCertificates();
                    this.addCertificateData.title = '';
                    this.addCertificateData.description = '';
//                    var clone = JSON.parse(JSON.stringify(this.addPost));
//                    this.posts.push(clone);
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
             getCertificateEdit(id){
                axios.get(api + 'certificates/' + id).then(response =>{
                    this.editCertificateData = response.data.entity;
                    console.log(this.editCertificateData);
                }).catch(error => {
                    console.log(error);
                })
            },
            editCertificatePost(id) {
                let data = new FormData();
                data.append('title', this.editCertificateData.title);
                data.append('description', this.editCertificateData.description);
                console.log(data);

                axios.post(api + 'certificates/update/' + id, data).then(response => {
                    this.getCertificates();
//                    var clone = JSON.parse(JSON.stringify(this.addPost));
//                    this.posts.push(clone);
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
            getCertificateId(id) {
                this.certificateId = id;
            },
            goTo(id) {
                this.$router.push('/single-view-certificate/' + id);
            },
           
            getCertificateDelete(id, index) {
                this.deleteCompanyId = id;
                this.companyIndex = index;
            },
            deleteCertificate(id, index) {
                axios.post(api + 'certificates/delete/' + id).then(response => {
                    this.certificates.splice(index, 1);
                    console.log(id);
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },


            // ZA SINGLE VIEW
            
        },
         beforeMount() {
            this.getCertificates();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .p-t-25 {
        padding-top: 25px;
    }
    .title h1 {
        color: #5a5a5a;
        float: left;
        margin: 0px;
    }
    .title p {
        color: #8a8a8a;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }
    /*.certificates-margin {*/
        /*margin-bottom: 40px;*/
    /*}*/
    .certificates-content {
        margin-top: 30px;
    }
    .certificates-content h2 {
        font-size: 14px;
        margin-top: 10px;
        color: #656565;
    }
    .certificates-content p {
        color: #8a8a8a;
        font-size: 12px;
    }
    .card-certificates {
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
        height: 150px;
        padding: 20px;
        /*cursor: pointer;*/
    }
    .btn-delete {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-left: 8px;
        outline: none;
    }
    .btn-delete:hover {
        border-color: #ff0000;
        color: #ff0000;
        transition: all .1s ease-out;
    }
    .btn-edit {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-left: 8px;
        outline: none;
    }
    .btn-edit:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .btn-more {
        border: solid 1px #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        outline: none;
    }
    .btn-more:hover {
        border-color: #0275d8;
        color: #0275d8;
        transition: all .1s ease-out;
    }
    .btn-add {
        border: solid 1px #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 200px;
        height: 40px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        float: right;
    }
    .btn-add:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .search {
        width: 130px;
        box-sizing: border-box;
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        background-color: white;
        background-image: url('../assets/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 7px 20px 8px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        float: right;
        margin-right: 20px;
    }
    .search:focus {
        width: 250px;
        outline: none;
    }
</style>
