<template>
     <div class="container news">
        <div class="row title">
            <div class="col-xs-12 col-md-2">
                <h1>Kompanije</h1>
            </div>
            <div class="col-xs-12 col-md-10">
                <button v-if="role == 'admin'" type="button" class="pull-right btn-add" data-toggle="modal" data-target="#myModal">Dodaj kompaniju</button>
                <input v-debounce="delay" v-model.lazy="searchData" class="search" type="text" name="search" placeholder="Search..">
            </div>
        </div>
        <div class="row company-content">
        <p v-if="companies == null">Nema rezultata</p>
            <div v-if="companies != null" class="col-xs-12 col-md-6" v-for="(company, index) in companies">
                <div class="card-company">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <img v-bind:src="endpoint + company.logo.path">
                        </div>
                        <div class="col-xs-12 col-sm-9 company-right">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2>Ime kompanije: <span>{{company.company_name}}</span></h2>
                                    <h2>E-mail: <span>{{company.email}}</span></h2>
                                </div>
                                <div class="col-xs-12 p-t-35">
                                    <button v-if="role == 'admin'" @click="getCompanyDelete(company.id, index)" type="button" class="btn-delete pull-right" data-toggle="modal" data-target="#deleteCompany">Obriši</button>
                                    <button v-if="role == 'admin'" @click="getCompanyId(company.id), getCompanyEdit(company.id)" data-toggle="modal" data-target="#editCompany" type="button" class="btn-edit pull-right" style="margin-left: 10px;">Izmeni</button>
                                    <button @click="goTo(company.id)" type="button" class="btn-more pull-right">Vidi više</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div v-if="totalItems > 10" is="uib-pagination" :total-items="totalItems" :max-size="maxSize" v-model="pagination1" @change="pageChanged()"></div>
            </div>
        </div>
        <!--MODAL Dodaj kompaniju-->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dodaj kompaniju</h4>
                    </div>
                        <div class="modal-body padding-left-right">
                            <form>
                                <div class="form-group">
                                    <label for="formGroupExampleInput6">Korisničko ime kompanije</label>
                                    <input v-model="addCompanyData.username" type="text" class="form-control" id="formGroupExampleInput6">
                                </div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput7">Šifra kompanije</label>
                                    <input v-model="addCompanyData.password" type="password" class="form-control" id="formGroupExampleInput7">
                                </div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput11">Ime kompanije</label>
                                    <input v-model="addCompanyData.company_name" type="text" class="form-control" id="formGroupExampleInput11">
                                </div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput8">Ime</label>
                                    <input v-model="addCompanyData.name" type="text" class="form-control" id="formGroupExampleInput8">
                                </div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput9">Prezime</label>
                                    <input v-model="addCompanyData.lastname" type="text" class="form-control" id="formGroupExampleInput9">
                                </div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput10">Email</label>
                                    <input v-on:input="validate()" name="email" v-validate="'required|email'" data-vv-delay="700" v-model="addCompanyData.email" type="text" class="form-control" id="formGroupExampleInput10">
                                    <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
                                </div>
                                <div class="form-group">
                                    <label>Logo</label><br>
                                    <input type="file" class="form-control" id="fileLogo"/>
                                </div>
                            </form>
                        </div>
                    <div class="modal-footer">
                        <button v-bind:disabled="!isValid" @click="addCompany()" type="button" class="btn btn-default" data-dismiss="modal" >Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL Izmeni post-->
        <div id="editCompany" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Izmeni podatke kompanije</h4>
                    </div>
                    <div class="modal-body padding-left-right">
                        <form>
                            <div class="form-group">
                                <label for="formGroupExampleInput1">Korisničko ime kompanije</label>
                                <input v-model="editCompanyData.username" type="text" class="form-control" id="formGroupExampleInput1">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Šifra kompanije</label>
                                <input v-model="editCompanyData.password" type="password" class="form-control" id="formGroupExampleInput2">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput12">Ime kompanije</label>
                                <input v-model="editCompanyData.company_name" type="text" class="form-control" id="formGroupExampleInput12">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput3">Ime</label>
                                <input v-model="editCompanyData.name" type="text" class="form-control" id="formGroupExampleInput3">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput4">Prezime</label>
                                <input v-model="editCompanyData.lastname" type="text" class="form-control" id="formGroupExampleInput4">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput5">Email</label>
                                <input v-model="editCompanyData.email" type="text" class="form-control" id="formGroupExampleInput5">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button @click="editCompany(companyId)" type="button" class="btn btn-default" data-dismiss="modal">Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL potvrdi brisanje-->
        <div id="deleteCompany" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Potvrdi brisanje kompanije</h4>
                    </div>
                    <!--<div class="modal-body">-->

                    <!--</div>-->
                    <div class="modal-footer">
                        <button @click="deleteCompany(deleteCompanyId, companyIndex)" type="button" class="btn btn-default" data-dismiss="modal">Potvrdi</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import debounce from 'v-debounce'
    export default {
    	data() {
            return {
                companies: [],
                addCompanyData: {
                    username: '',
                    password: '',
                    name: '',
                    lastname: '',
                    email: '',
                    company_name: ''
                },
                emailMarker: false,
                editCompanyData: [],
                companyId: '',
                companyIndex: '',
                deleteCompanyId: '',
                searchData: '',
                delay: 700,
                endpoint: endPoint,
                role: role,  
                totalItems: 0,
                pagination1: { currentPage: 1, },
                maxSize: 5,
            }
        },
        watch: {
            searchData () {
                axios.post(api + 'companies/search', {
                    keyword: this.searchData
                }).then(response => {
                    this.companies = response.data.entity.data;
                    this.totalItems = response.data.entity.total;
                    console.log(response);
                }).catch(error => {
                    console.log(error);
                })
            },
        },
        directives: {debounce},
        computed:{
            isValid(){
                return this.addCompanyData.username != '' && this.addCompanyData.password != '' && this.addCompanyData.name != '' &&this.addCompanyData.lastname != '' && this.emailMarker != false && this.addCompanyData.company_name != '';
            }
        },
        methods: {
            validate() {
                this.$validator.validateAll().then((result) => {
                    // eslint-disable-next-line
                    this.emailMarker = result;
                    console.log(result);
                });
            },
            pageChanged: function() {
                this.getCompany(this.pagination1.currentPage);
                console.log('Page changed to: ' + this.pagination1.currentPage);
            },
            getCompany(pageNum){
                axios.get(api + 'companies?page='+pageNum).then(response =>{
                    this.companies = response.data.entity.data;
                    this.totalItems = response.data.entity.total;
                    console.log(this.companies);

                }).catch(error => {
                    console.log(error);
                })
            },
            addCompany() {
                let data = new FormData();
                data.append('username', this.addCompanyData.username);
                data.append('password', this.addCompanyData.password);
                data.append('name', this.addCompanyData.name);
                data.append('lastname', this.addCompanyData.lastname);
                data.append('email', this.addCompanyData.email);
                data.append('logo', document.getElementById('fileLogo').files[0]);
                data.append('company_name',this.addCompanyData.company_name);
                axios.post(api + 'companies', data).then(response => {
                    this.getCompany();
                    this.addCompanyData.username = '';
                    this.addCompanyData.password = '';
                    this.addCompanyData.name = '';
                    this.addCompanyData.lastname = '';
                    this.addCompanyData.email = '';
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
            getCompanyEdit(id){
                axios.get(api + 'companies/' + id).then(response =>{
                    this.editCompanyData = response.data.entity;
                    console.log(this.editCompanyData);
                }).catch(error => {
                    console.log(error);
                })
            },
            editCompany(id) {
                let data = new FormData();
                data.append('username', this.editCompanyData.username);
                data.append('password', this.editCompanyData.password);
                data.append('name', this.editCompanyData.name);
                data.append('lastname', this.editCompanyData.lastname);
                data.append('email', this.editCompanyData.email);
                axios.post(api + 'companies/update/' + id, data).then(response => {
                    this.getCompany();
//                    var clone = JSON.parse(JSON.stringify(this.addPost));
//                    this.posts.push(clone);
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
            getCompanyId(id) {
                this.companyId = id;
        	},
            goTo(id) {
                this.$router.push('/single-view-company/' + id);
            },
        	getCompanyDelete(id, index) {
                this.deleteCompanyId = id;
                this.companyIndex = index;
            },
            deleteCompany(id, index) {
                axios.post(api + 'companies/delete/' + id).then(response => {
                    this.companies.splice(index, 1);
                    console.log(id);
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
    	},
         beforeMount() {
            this.getCompany();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .title h1 {
        color: #5a5a5a;
        float: left;
        margin: 0px;
    }
    .title p {
        color: #8a8a8a;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }
    .company-content {
        margin-top: 30px;
    }
    .company-content h2 {
        font-size: 14px;
        margin-top: 0px;
        color: #656565;
    }
    .company-content span {
        color: #8a8a8a;
        font-size: 12px;
    }
    /* ============= redesign css ============== */
    .p-t-35 {
        padding-top: 25px;
    }
    .card-company {
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
        min-height: 150px;
        padding: 20px;
    }
    .card-company img {
        height: 110px;
        width: 110px;
    }
    .btn-delete {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-left: 8px;
        outline: none;
    }
    .btn-delete:hover {
        border-color: #ff0000;
        color: #ff0000;
        transition: all .1s ease-out;
    }
    .btn-edit {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-left: 8px;
        outline: none;
    }
    .btn-edit:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .btn-more {
        border: solid 1px #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        outline: none;
    }
    .btn-more:hover {
        border-color: #0275d8;
        color: #0275d8;
        transition: all .1s ease-out;
    }
    .btn-add {
        border: solid 1px #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 200px;
        height: 40px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        float: right;
    }
    .btn-add:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .search {
        width: 130px;
        box-sizing: border-box;
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        background-color: white;
        background-image: url('../assets/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 7px 20px 8px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        float: right;
        margin-right: 20px;
    }
    .search:focus {
        width: 250px;
        outline: none;
    }
    .help {
        color: red;
    }
    @media only screen and (max-width: 768px)  {
        .card-company {
            height: auto;
        }
        .company-right {
            margin-top: 20px;
        }
    }
</style>
