<template>
    <div class="container contact">
        <div class="row title">
            <div class="col-xs-12 col-md-12">
                <h1>Kontakt</h1>
            </div>
        </div>
        <div class="row form-position">
            <div class="col-xs-12">
                <div class="design-form">
                    <div class="row">
                        <div class="col-xs-6">
                            <div>
                                <label for="formGroupExampleInput">Email</label>
                                <input v-on:input="validate()" name="email" v-validate="'required|email'" data-vv-delay="700" v-model="email" type="text" class="form-control" placeholder="Email" id="formGroupExampleInput">
                                <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label for="formGroupExampleInput1">Naslov</label>
                            <input v-model="subject" placeholder="Subject" type="text" class="form-control" id="formGroupExampleInput1">
                        </div>
                        <div class="col-xs-12">
                            <label for="exampleTextarea">Opis</label>
                            <textarea v-model="message" placeholder="Message" class="form-control" id="exampleTextarea" rows="5"></textarea>
                        </div>
                        <div class="col-xs-12 text-right right-input">
                            <button @click="contact()" v-bind:disabled="!isValid" class="btn-add-contact">Pošalji</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                email: '',
                subject: '',
                message: '',
                emailMarker: false,
            }
        },
        computed:{
            isValid(){
                return this.emailMarker != false && this.subject != '' && this.message != '';
            }
        },
        methods: {
            validate() {
                this.$validator.validateAll().then((result) => {
                    // eslint-disable-next-line
                    this.emailMarker = result;
                    console.log(result);
                });
            },
            contact() {
                axios.post(api + 'contact-us', {
                    email: this.email,
                    subject: this.subject,
                    body: this.message
                }).then(response => {
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(response.data.message);
                    console.log(error);
                })
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .title h1 {
        color: #5a5a5a;
        /*float: left;*/
        margin: 0px;
        text-align: left;
    }
    .design-form {
        margin-top: 30px !important;
        margin-bottom: 80px !important;
        padding: 15px;
        /*margin: auto;*/
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
        /*max-width: 500px;*/
    }
    .contact {
        margin-top: 30px;
    }
    .form-control {
        border-radius: 0px;
    }
    /*.form-position {*/
        /*margin-top: 30px;*/
    /*}*/
    .left-inputs input::placeholder {
        color: #525252;
    }
    .right-input {
        margin-top: 20px;
    }
    textarea {
        resize: none;
    }
    .right-input textarea::placeholder {
        color: #525252;
    }
    .btn-add-contact {
        border-width: 1px;
        border-color: #8c8c8c80;
        border-style: solid;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 200px;
        height: 40px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        /*float: right;*/
    }
    .btn-add-contact:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .btn-add-contact:disabled {
        cursor: not-allowed;
    }
    label {
        color: #8a8a8a;
    }
    .help {
        color: red;
    }
</style>
