<template>
    <div class="container">
        <div class="row title">
            <div class="col-xs-12 col-md-12">
                <h1>Kreiraj CV</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="design-form-createCv">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Ime</label>
                                <input v-model="createCv.first_name" type="text" class="form-control" placeholder="Upisi ime">
                            </div>
                            <div class="col-xs-6">
                                <label>Prezime</label>
                                <input v-model="createCv.last_name" type="text" class="form-control" placeholder="Upisi prezime">
                            </div>
                            <div class="col-xs-6">
                                <label>Datum rodjenja</label>
                                <input v-model="createCv.date_of_birth" type="date" class="form-control" placeholder="29/09/1995">
                            </div>
                            <div class="col-xs-6">
                                <div>
                                    <label>Email</label>
                                    <input v-on:input="validate()" name="email" v-validate="'required|email'" data-vv-delay="700" v-model="createCv.email" type="text" class="form-control" placeholder="example@demo.com" id="formGroupExampleInput10">
                                    <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label>Grad</label>
                                <input v-model="createCv.city" type="text" class="form-control" placeholder="Unesite grad">
                            </div>
                            <div class="col-xs-6">
                                <label>Obrazovanje</label>
                                <input v-model="createCv.education" type="text" class="form-control" placeholder="Obrazovanje">
                            </div>
                            <div class="col-xs-6">
                                <label>Radni odnos</label>
                                <input v-model="createCv.employment" type="text" class="form-control" placeholder="Radni odnos">
                            </div>
                            <div class="col-xs-6">
                                <label>Radno mesto</label>
                                <input v-model="createCv.workplace" type="text" class="form-control" placeholder="Radno mesto">
                            </div>
                            <div class="col-xs-6">
                                <label>Linkedin url</label>
                                <input v-model="createCv.linkedin_url" type="text" class="form-control" placeholder="Unesite link">
                            </div>
                            <div class="col-xs-6">
                                <label for="file">Upload slike</label>
                                <input type="file" class="" id="file"><br>
                            </div>
                            <div class="col-xs-12 text-right">
                                <button v-bind:disabled="!isValid" @click="createCV()" class="btn-add">Kreiraj</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                createCv: {
                    first_name: '',
                    last_name: '',
                    date_of_birth: '',
                    email: '',
                    city: '',
                    education: '',
                    employment: '',
                    workplace: '',
                    linkedin_url: ''
                },
                emailMarker: false,
            }
        },
        computed:{
            isValid(){
                return this.createCv.first_name != '' && this.createCv.last_name != '' && this.createCv.date_of_birth != '' && this.emailMarker != false  && this.createCv.city != '';
            }
        },
        methods: {
            validate() {
                this.$validator.validateAll().then((result) => {
                    // eslint-disable-next-line
                    this.emailMarker = result;
                    console.log(result);
                });
            },
            createCV() {
                let data = new FormData();
                data.append('first_name', this.createCv.first_name);
                data.append('last_name', this.createCv.last_name);
                data.append('date_of_birth', this.createCv.date_of_birth);
                data.append('email', this.createCv.email);
                data.append('city', this.createCv.city);
                data.append('education', this.createCv.education);
                data.append('employment', this.createCv.employment);
                data.append('workplace', this.createCv.workplace);
                data.append('linkedin_url', this.createCv.linkedin_url);
                data.append('profile_img', document.getElementById('file').files[0]);

                axios.post(api + 'students', data).then(response => {
                    let user = response.data.entity;
                    this.$localStorage.set('user', JSON.stringify(user));
                    window.eventHub.$emit('user', this.user);
                    window.eventHub.$emit('role', response.data.entity.role);
                    this.$localStorage.set('role', response.data.entity.role);
                    this.$router.push('/');
                    console.log(response);
                    this.$toaster.success(response.data.message);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .title h1 {
        color: #5a5a5a;
        /*float: left;*/
        margin: 0px;
        text-align: center;
    }
    .design-form-createCv {
        margin-top: 30px !important;
        margin-bottom: 80px !important;
        background-color: #fff;
        padding: 15px;
        /*margin: auto;*/
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
        /*max-width: 500px;*/
    }
    label {
        color: #8a8a8a;
    }
    .form-control {
        border-radius: 0px;
    }
    .btn-add {
        border-width: 1px;
        border-color: #8c8c8c80;
        border-style: solid;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 200px;
        height: 40px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        /*float: right;*/
    }
    .btn-add:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .btn-add:disabled {
        cursor: not-allowed;
    }
    .help {
        color: red;
    }
</style>
