<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 title-center">
                <h1>Kreiranje kursa</h1>
            </div>
        </div>
        <form class="design-form">
            <div class="row">
                <div class="col-xs-6 col-md-6 p-b">
                    <label>Izaberi predavača</label>
                    <select class="form-control" id="exampleSelect1" v-model="addTeacherData.id_teacher">
                        <!--<option disabled selected>Svi predavači</option>-->
                        <option v-if="teacher.teacherable != null" v-for="teacher  in teachers" v-bind:value="teacher.id">{{teacher.teacherable.first_name}} {{teacher.teacherable.last_name}} </option>
                    </select>
                </div>
                <div class="col-xs-6 col-md-6 p-b">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <label></label>
                            <button data-toggle="modal"  type="button" class="btn-add1" data-title="Izdaj" data-target="#dodajPredavaca">Dodaj predavača</button>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label></label>
                            <button data-toggle="modal"  type="button" class="btn-add1"  data-title="Izdaj" data-target="#dodajStudenta">Dodaj studente za kurs</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6 p-b">
                    <label>Ime kursa</label><br>
                    <input type="text" class="form-control" placeholder="Upisi ime kursa" v-model="addTeacherData.name"/>
                </div>
                <div class="col-xs-6 col-md-6 p-b">
                    <label>Opis kursa</label><br>
                    <textarea type="text" class="form-control" placeholder="Upisi kratak opis kursa..." v-model="addTeacherData.description"></textarea>
                </div>
                <div class="col-xs-6 col-md-6 p-b">
                    <label>Od</label><br>
                    <input type="date" class="form-control" placeholder="Upisi datum" v-model="addTeacherData.from"/>
                </div>
                <div class="col-xs-6 col-md-6 p-b">
                    <label>Do</label><br>
                    <input type="date" class="form-control" placeholder="Upisi datum" v-model="addTeacherData.to"/>
                </div>
                <div class="col-xs-6 col-md-6 p-b">
                    <label>Dodaj logo</label><br>
                    <input type="file" class="form-control" id="fileLogo"/>
                </div>
                <div class="col-xs-6 col-md-6 p-b">
                    <label>Sertifikat nakon kursa</label><br>
                    <select class="form-control" id="exampleSelect1" v-model="addTeacherData.id_certificate">
                        <!--<option  value="svi sertifikati" disabled selected>Svi sertifikati</option>-->
                        <option v-if="certificate.title != null" v-for="certificate  in certificates" v-bind:value="certificate.id">{{certificate.title}} </option>
                    </select>
                </div>
                <div class="col-xs-12 text-right">
                    <button type="button" class="btn-add m-t-20" v-bind:disabled="!isValid" @click="postCourses()">Dodaj kurs</button>
                </div>
            </div>
        </form>
        <!--Modal dodaj predavaca-->
        <div id="dodajPredavaca" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dodaj predavača</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs custom-ul">
                            <li class="active"><a data-toggle="tab" href="#studenti" @click="getStudentPredavac()">Studenti</a></li>
                            <li><a data-toggle="tab" href="#profesori" @click="getProfesorPredavac()">Profesori</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="studenti" class="tab-pane fade in active">
                                <table id="mytable1" class="table table-bordred table-striped" style="padding-top:50px;">
                                    <thead>
                                    <th style="padding-left: 15px; padding-top:15px;">Redni broj</th>
                                    <th style="padding-left: 15px; padding-top:15px;">Ime i prezime</th>
                                    <th style="padding-left: 15px; padding-top:15px;">Izaberi</th>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(addTeacher, index) in addTeachers">
                                        <td>{{index+1}}</td>
                                        <td v-if="addTeacher.first_name && addTeacher.last_name">{{addTeacher.first_name}} {{addTeacher.last_name}}</td>
                                        <!--<td v-if="addTeacher.name && addTeacher.lastname">{{addTeacher.name}} {{addTeacher.lastname}}</td>-->
                                        <td>
                                            <div class="checkbox">
                                                <label><input v-bind:value="addTeacher" v-model="predavac" type="radio" @change="flag = 1"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div v-if="totalItems > 10" is="uib-pagination" :total-items="totalItems" :max-size="maxSize" v-model="pagination" @change="pageChanged()"></div>
                            </div>
                            <div id="profesori" class="tab-pane fade">
                                <table id="mytable1" class="table table-bordred table-striped" style="padding-top:50px;">
                                    <thead>
                                    <th style="padding-left: 15px; padding-top:15px;">Redni broj</th>
                                    <th style="padding-left: 15px; padding-top:15px;">Ime i prezime</th>
                                    <th style="padding-left: 15px; padding-top:15px;">Izaberi</th>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(addTeacher, index) in addTeachers  ">
                                        <td>{{index+1}}</td>
                                        <td v-if="addTeacher.first_name && addTeacher.last_name">{{addTeacher.first_name}} {{addTeacher.last_name}}</td>
                                        <td v-if="addTeacher.name && addTeacher.lastname">{{addTeacher.name}} {{addTeacher.lastname}}</td>
                                        <td>
                                            <div class="checkbox">
                                                <label><input v-bind:value="addTeacher" v-model="predavac" type="radio" @change="flag = 1"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div v-if="totalItems1 > 10" is="uib-pagination" :items-per-page="15" :total-items="totalItems1" :max-size="maxSize1" v-model="pagination1" @change="pageChanged1()"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!--<div v-if="totalItems > 10" is="uib-pagination" :total-items="totalItems" :max-size="maxSize" v-model="pagination1" @change="pageChanged()"></div>-->
                        <button  type="button" class="btn btn-default" data-dismiss="modal" v-bind:disabled="!isValidAddTeacher" @click="addStudentInTeacher()">Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal za dodavanje studenta-->
        <div id="dodajStudenta" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dodaj studenta koji ide na kurs</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <table id="mytable2" class="table table-bordred table-striped" >
                                <thead>
                                    <th style="padding-top:15px;">Redni broj</th>
                                    <th style="padding-left: 15px; padding-top:15px;" >Ime i prezime</th>
                                    <th style="padding-left: 15px; padding-top:15px;">Izaberi</th>
                                </thead>
                                <tbody>
                                <tr v-for="(addStudent, index) in addStudents">
                                    <td>{{index+1}}</td>
                                    <td>{{addStudent.first_name}} {{addStudent.last_name}}</td>
                                    <td>
                                        <div class="checkbox">
                                            <label><input id="index" type="checkbox" v-bind:value="addStudent.id" v-model="addTeacherData.students"></label>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div v-if="totalItems2 > 10" is="uib-pagination" :total-items="totalItems2" :max-size="maxSize2" v-model="pagination2" @change="pageChanged2()"></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button  type="button" class="btn btn-default" data-dismiss="modal" v-bind:disabled="!isValidAddStudents" @click="saveStudents()">Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                teachers: [],
                addTeachers:[],
                addStudents:[],
                certificates:[],
                addTeacherData: {
                    id_teacher: '',
                    name: '',
                    description: '',
                    from: '',
                    to: '',
                    id_certificate: '',
                    status: 1,
                    students: [],
                },
                predavac: {},
                flag: 0,
                search:"",
                marker: 0,
                editCompaniesNewsData: [],
                companiesNewsId: '',
                companiesNewsIndex: '',
                deleteCompaniesNewsId: '',
                endpoint: endPoint,
                role: role,
                totalItems1: 0,
                pagination1: { currentPage: 1, },
                maxSize1: 5,
                totalItems: 0,
                pagination: { currentPage: 1, },
                maxSize: 5,
                totalItems2: 0,
                pagination2: { currentPage: 1, },
                maxSize2: 5,
            }
        },
        computed:{
            isValid(){
                return this.addTeacherData.id_teacher != '' && this.addTeacherData.name != '' && this.addTeacherData.id_certificate != '';
            },
            isValidAddStudents() {
                return this.addTeacherData.students.length !== 0;
            },
            isValidAddTeacher() {
                return this.flag == 1;
            }
        },
        methods: {
             pageChanged1: function() {
                this.getProfesorPredavac(this.pagination1.currentPage);
                console.log('Page changed to: ' + this.pagination1.currentPage);
            },
            pageChanged2: function() {
                this.getStudents(this.pagination2.currentPage);
                console.log('Page changed to: ' + this.pagination2.currentPage);
            },
            pageChanged: function() {
                this.getStudentPredavac(this.pagination.currentPage);
                console.log('Page changed to: ' + this.pagination.currentPage);
            },
            getTeacher(){
                axios.get(api + 'allteachers').then(response =>{
                    this.teachers = response.data.entity;
                    console.log(this.teachers);
                }).catch(error => {
                    console.log(error);
                })
            },
            getStudentPredavac(pageNum){
                axios.get(api + 'role/students?page='+pageNum).then(response =>{
                    this.addTeachers = response.data.entity.data;
//                    this.addStudents = response.data.entity.data;
                    this.totalItems = response.data.entity.total;
                    console.log(this.addTeachers);
                }).catch(error => {
                    console.log(error);
                })
            },
            getStudents(pageNum){
                axios.get(api + 'students?page=' + pageNum).then(response =>{
                    this.addStudents = response.data.entity.data;
                    this.totalItems2 = response.data.entity.total;
                    console.log(this.addStudents);
                }).catch(error => {
                    console.log(error);
                })
            },
            getCertificates(){
                axios.get(api + 'certificates').then(response =>{
                    this.certificates = response.data.entity.data;
                    console.log(this.certificates);
                }).catch(error => {
                    console.log(error);
                })
            },
            getProfesorPredavac(pageNum){
                axios.get(api + 'professors/all?page='+pageNum).then(response =>{
                    this.addTeachers = response.data.entity.data;
                    this.totalItems1 = response.data.entity.total;
                    console.log(this.addTeachers);
                }).catch(error => {
                    console.log(error);
                })
            },
            saveStudents(){
                console.log(this.addTeacherData.students);
//                this.marker = 1;
                this.$toaster.success("Successfully added students");
            },
            addStudentInTeacher(){
                if(this.predavac.role != "student") {
                    this.predavac.role = "professor";
                }
                axios.post(api + 'teachers', {
                    user: this.predavac
                }).then(response =>{
                    this.getTeacher();
                    console.log(response);
                    this.$toaster.success(response.data.message);
                }).catch(error => {
                    console.log(error);
                    this.$toaster.success(error.data.message);
                })
            },
            postCourses(){
                console.log(this.addTeacherData.students);
                let data = new FormData();
                data.append('teacher_id', this.addTeacherData.id_teacher);
                data.append('name', this.addTeacherData.name);
                data.append('description', this.addTeacherData.description);
                data.append('from', this.addTeacherData.from);
                data.append('to', this.addTeacherData.to);
                data.append('logo', document.getElementById('fileLogo').files[0]);
                data.append('status',this.addTeacherData.status);
                data.append('certificate_id',this.addTeacherData.id_certificate);
                if(this.addTeacherData.students.length > 0) {
                    data.append('students',this.addTeacherData.students);
                }
                axios.post(api + 'courses', data).then(response => {
                    console.log(response);
                    this.addTeacherData.id_teacher = '';
                    this.addTeacherData.name = '';
                    this.addTeacherData.description = '';
                    this.addTeacherData.from = '';
                    this.addTeacherData.to = '';
                    this.addTeacherData.id_certificate = '';
                    this.addTeacherData.students = [];
                    this.$toaster.success(response.data.message);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
        },
        beforeMount() {
            this.getTeacher();
            this.getStudentPredavac();
            this.getStudents();
            this.getCertificates();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: #f1f0f0;
    }
    .m-t-20 {
        margin-top: 20px;
    }
    .title-center h1 {
        /*font-size: 24px;*/
        color: #5a5a5a;
    }    
    .title p {
        font-size: 14px;
        color: #8a8a8a;
    }
    .p-b {
        padding-bottom: 5px;
    }
    .design-form {
        margin-top: 20px !important;
        margin-bottom: 80px !important;
        padding: 15px;
        /*margin: auto;*/
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
        /*max-width: 500px;*/
    }
    label {
        color: #8a8a8a;
    }
    .form-control {
        border-radius: 0px;
    }
    .btn-add {
        border-width: 1px;
        border-color: #8c8c8c80;
        border-style: solid;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 200px;
        height: 40px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        /*float: right;*/
    }
    .btn-add:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .btn-add:disabled {
        cursor: not-allowed;
    }
    .btn-add1 {
        border-width: 1px;
        border-color: #8c8c8c80;
        border-style: solid;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 100%;
        height: 40px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        /*float: right;*/
    }
    .btn-add1:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .btn-add1:focus, .btn-add:focus {
        outline: none;
    }
    .custom-ul {
        margin-top: 0px;
    }
</style>
