<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 title-edit">
                <h1>Izmena kursa</h1>
            </div>
        </div>
        <form class="design-form">
            <div class="row">
                <div class="col-xs-6 col-md-6 p-b">
                    <label>Izaberi predavaca</label>
                    <select class="form-control" id="exampleSelect" v-model="editCourseData.teacher_id">
                        <option  value="svi predavači" disabled selected style="display: none;">Svi predavači</option>
                        <option v-if="teacher.teacherable != null" v-for="teacher in AllTeachers" v-bind:value="teacher.id">{{teacher.teacherable.first_name}} {{teacher.teacherable.last_name}}</option>
                    </select>
                </div>
                <div class="col-xs-6 col-md-6 p-b">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <label></label>
                            <button data-toggle="modal"  type="button" class="btn-add1" data-title="Izdaj" data-target="#dodajPredavaca">Dodaj predavača</button>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label></label>
                            <button data-toggle="modal"  type="button" class="btn-add1"  data-title="Izdaj" data-target="#dodajStudenta">Dodaj studente za kurs</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6 p-b">
                    <label>Ime kursa</label><br>
                    <input type="text" class="form-control" v-model="editCourseData.name" placeholder="Upiši ime kursa"/>
                </div>
                <div class="col-xs-6 col-md-6 p-b">
                    <label>Opis kursa</label><br>
                    <textarea type="text" class="form-control" v-model="editCourseData.description" placeholder="Upiši kratak opis kursa..."></textarea>
                </div>
                <div class="col-xs-6 col-md-6 p-b">
                    <label>Od</label><br>
                    <input type="date" class="form-control" v-model="editCourseData.from" placeholder="Upiši datum"/>
                </div>
                <div class="col-xs-6 col-md-6 p-b">
                    <label>Do</label><br>
                    <input type="date" class="form-control" v-model="editCourseData.to" placeholder="Upiši datum"/>
                </div>
                <div class="col-xs-6 col-md-6 p-b">
                    <label>Dodaj logo</label><br>
                    <input type="file" class="form-control" id="fileLogo"/>
                </div>
                <div class="col-xs-6 col-md-6 p-b">
                    <label>Sertifikat nakon kursa</label><br>
                    <select class="form-control" id="exampleSelect1" v-model="editCourseData.certificate_id">
                        <option  value="svi sertifikati" disabled selected>Svi sertifikati</option>
                        <option v-for="certificate in AllCertificates" v-bind:value="certificate.id">{{certificate.title}}</option>
                    </select>
                </div>
            </div>
            <div class="row input-position">
                <div class="col-xs-12">
                    <label>Izaberi stanje kursa</label>
                    <select class="form-control" id="exampleSelect2" v-model="editCourseData.status">
                        <option value="1">Kurs koji još uvek nije počeo</option>
                        <option value="2">Kurs je trenutno u toku</option>
                        <option value="3" disabled>Kurs je završen</option>
                    </select>
                </div>
                <div class="col-xs-12">
                    <p v-if="editCourseData.students.length > 0" class="padding-left studentsListHeader"><b>Lista studenata koji pohadjaju kurs:</b></p>
                    <p class="padding-left" v-for="(student, index) in editCourseData.students">{{index+1}}. {{student.first_name}} {{student.last_name}}</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button v-if="editCourseData.status == 2 && marker != 0" type="button" class="btn-add" data-toggle="modal" data-target="#zavrsiKurs">Završi kurs</button>
                    <button type="button" class="btn-add" @click="editCourse()">Izmeni kurs</button>
                </div>
            </div>
        </form>

        <!--Modal za dodavanje predavaca-->
        <div id="dodajPredavaca" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dodaj predavača</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs custom-ul">
                            <li class="active"><a data-toggle="tab" href="#studenti">Studenti</a></li>
                            <li><a data-toggle="tab" href="#profesori" @click="getProfessorTeachers()">Profesori</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="studenti" class="tab-pane fade in active">
                                <table id="mytable1" class="table table-bordred table-striped" style="padding-top:50px;">
                                    <thead>
                                        <th style="padding-left: 15px; padding-top:15px;">Redni broj</th>
                                        <th style="padding-left: 15px; padding-top:15px;">Ime i prezime</th>
                                        <th style="padding-left: 15px; padding-top:15px;">Izaberi</th>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(studentTeacher, index) in studentTeachers">
                                        <td>{{index+1}}</td>
                                        <td v-if="studentTeacher.first_name && studentTeacher.last_name">{{studentTeacher.first_name}} {{studentTeacher.last_name}}</td>
                                        <td v-if="studentTeacher.name && studentTeacher.lastname">{{studentTeacher.name}} {{studentTeacher.lastname}}</td>
                                        <td>
                                            <div class="checkbox">
                                                <label><input v-bind:value="studentTeacher" v-model="predavac" type="radio" @change="flag = 1"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div v-if="totalItems > 10" is="uib-pagination" :total-items="totalItems" :max-size="maxSize" v-model="pagination" @change="pageChanged()"></div>
                            </div>
                            <div id="profesori" class="tab-pane fade">
                                <table id="mytable1" class="table table-bordred table-striped" style="padding-top:50px;">
                                    <thead>
                                    <th style="padding-left: 15px; padding-top:15px;">Redni broj</th>
                                    <th style="padding-left: 15px; padding-top:15px;">Ime i prezime</th>
                                    <th style="padding-left: 15px; padding-top:15px;">Izaberi</th>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(professorTeacher, index) in professorTeachers">
                                        <td>{{index+1}}</td>
                                        <td v-if="professorTeacher.first_name && professorTeacher.last_name">{{professorTeacher.first_name}} {{professorTeacher.last_name}}</td>
                                        <td v-if="professorTeacher.name && professorTeacher.lastname">{{professorTeacher.name}} {{professorTeacher.lastname}}</td>
                                        <td>
                                            <div class="checkbox">
                                                <label><input v-bind:value="professorTeacher" v-model="predavac" type="radio" @change="flag = 1"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div v-if="totalItems1 > 10" is="uib-pagination" :total-items="totalItems1" :max-size="maxSize1" v-model="pagination1" @change="pageChanged1()"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!--<div v-if="totalItems > 10" is="uib-pagination" :total-items="totalItems" :max-size="maxSize" v-model="pagination1" @change="pageChanged()"></div>-->
                        <button  type="button" class="btn btn-default" data-dismiss="modal" v-bind:disabled="!isValidAddTeacher" @click="addStudentForTeacher()">Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal end-->
        <!--Modal za dodavanje studenta-->
        <div id="dodajStudenta" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dodaj studenta koji ide na kurs</h4>
                    </div>
                    <div class="modal-body">
                        <table id="mytable2" class="table table-bordred table-striped" >
                            <thead>
                            <th style="padding-top:15px;">Redni broj</th>
                            <th style="padding-left: 15px; padding-top:15px;" >Ime i prezime</th>
                            <th style="padding-left: 15px; padding-top:15px;">Izaberi</th>
                            </thead>
                            <tbody>
                            <tr v-for="(student, index) in students">
                                <td>{{index+1}}</td>
                                <td>{{student.first_name}} {{student.last_name}}</td>
                                <td>
                                    <div class="checkbox">
                                        <label><input id="index" type="checkbox" v-bind:value="student.id" v-model="addNewStudents"></label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div v-if="totalItems2 > 10" is="uib-pagination" :total-items="totalItems2" :max-size="maxSize2" v-model="pagination2" @change="pageChanged2()"></div>
                    </div>
                    <div class="modal-footer">
                        <button  type="button" class="btn btn-default" data-dismiss="modal" v-bind:disabled="!isValidAddStudents" @click="saveStudents()">Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal end-->
        <!--Modal za zavrsavanje kursa-->
        <div id="zavrsiKurs" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Obeleži studente koji su uspešno završili kurs</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <table id="mytable2" class="table table-bordred table-striped" >
                                <thead>
                                    <tr>
                                        <td style="padding-top:15px;">Redni broj</td>
                                        <td style="padding-left: 15px; padding-top:15px;" >Ime i prezime</td>
                                        <td style="padding-left: 15px; padding-top:15px;" >Ocena</td>
                                        <td style="padding-left: 15px; padding-top:15px;">Izaberi</td>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(student, index) in editCourseData.students">
                                    <td>{{index+1}}</td>
                                    <td>{{student.first_name}} {{student.last_name}}</td>
                                    <td>
                                        <input type="number" class="form-control" min="1" max="100" v-model="student.rating" placeholder="Ocena od 1-100%"/>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label><input type="checkbox" v-bind:value="student.id" v-model="student.isChecked"></label>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button  type="button" class="btn btn-default" data-dismiss="modal" @click="finishCourse(editCourseData.students)">Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <!--v-bind:disabled="!isValidFiishedStudents"-->
                    </div>
                </div>
            </div>
        </div>
        <!--Modal end-->
    </div>
</template>

<script>
    export default {
        data() {
            return {
                params: '',
                editCourseData: [],
                AllTeachers: [],
                AllCertificates: [],
                marker: 0,
                studentTeachers: [],
                professorTeachers: [],
                students: [],
                addNewStudents: [],
                predavac: {},
                flag: 0,
                totalItems1: 0,
                pagination1: { currentPage: 1, },
                maxSize1: 5,
                totalItems: 0,
                pagination: { currentPage: 1, },
                maxSize: 5,
                totalItems2: 0,
                pagination2: { currentPage: 1, },
                maxSize2: 5,
            }
        },
        computed:{
//            isValid(){
//
//            },
            isValidAddTeacher() {
                return this.flag == 1;
            },
            isValidAddStudents() {
                return this.addNewStudents.length !== 0;
            },
            isValidFiishedStudents() {
                return this.finishedStudents.length !== 0;
            }
        },
        methods: {
            pageChanged1: function() {
                this.getProfessorTeachers(this.pagination1.currentPage);
                console.log('Page changed to: ' + this.pagination1.currentPage);
            },
            pageChanged2: function() {
                this.getStudents(this.pagination2.currentPage);
                console.log('Page changed to: ' + this.pagination1.currentPage);
            },
            pageChanged: function() {
                this.getStudentTeachers(this.pagination.currentPage);
                console.log('Page changed to: ' + this.pagination.currentPage);
            },
            getId() {
                this.params = this.$route.params.id;
            },
            getCourse() {
                axios.get(api + 'courses/' + this.params).then(response =>{
                    this.editCourseData = response.data.entity;
                    this.editCourseData.students.forEach(function(student){
                        student.isChecked = false;
                        student.rating = 1;
                    });
                    if(this.editCourseData.status == 2) {
                        this.marker = 1;
                    }
                    console.log(this.editCourseData);
                }).catch(error =>{
                    console.log(error);
                })
            },
            getAllTeachers(){
                axios.get(api + 'allteachers').then(response =>{
                    this.AllTeachers = response.data.entity;
                    console.log(this.AllTeachers);
                }).catch(error => {
                    console.log(error);
                })
            },
            getAllCertificates(){
                axios.get(api + 'certificates').then(response =>{
                    this.AllCertificates = response.data.entity.data;
                    console.log(this.AllCertificates);
                }).catch(error => {
                    console.log(error);
                })
            },
            getStudentTeachers(pageNum){
                axios.get(api + 'role/students?page='+pageNum).then(response =>{
                    this.studentTeachers = response.data.entity.data;
//                    this.students = response.data.entity.data;
                    this.totalItems = response.data.entity.total;
                    console.log(this.studentTeachers);
                }).catch(error => {
                    console.log(error);
                })
            },
            getStudents(pageNum){
                axios.get(api + 'course-add/students/' + this.params + '?page=' + pageNum).then(response =>{
                    this.students = response.data.entity.data;
                    this.totalItems2 = response.data.entity.total;
                    console.log(this.students);
                }).catch(error => {
                    console.log(error);
                })
            },
            getProfessorTeachers(pageNum){
                axios.get(api + 'professors/all?page='+pageNum).then(response =>{
                    this.professorTeachers = response.data.entity.data;
                    this.totalItems1 = response.data.entity.total;
                    console.log(this.professorTeachers);
                }).catch(error => {
                    console.log(error);
                })
            },
            addStudentForTeacher(){
                if(this.predavac.role != "student") {
                    this.predavac.role = "professor";
                }
                axios.post(api + 'teachers', {
                    user: this.predavac
                }).then(response =>{
                    this.getAllTeachers();
                    console.log(response);
                    this.$toaster.success(response.data.message);
                    this.flag = 0;
                }).catch(error => {
                    console.log(error);
                    this.$toaster.error(error.data.message);
                })
            },
            saveStudents(){
                console.log(this.addNewStudents);
                this.$toaster.success("You successfully added students");
            },
            finishCourse(students) {
                let finishedStudents = [];
                students.forEach(function (student) {
                    if(student.isChecked) {
                        let studentRatingData = {
                            id: student.id,
                            rating: student.rating
                        };
                        finishedStudents.push(studentRatingData);
                    }
                });
                axios.post(api + 'courses/complete/' + this.params, {
                    students: finishedStudents
                }).then(response => {
                    console.log(response);
                    this.getCourse();
                    this.$toaster.success(response.data.message);
                }).catch(error => {
                    console.log(error);
                    this.$toaster.error(error.data.message);
                })
            },
            editCourse() {
                let data = new FormData();
                data.append('teacher_id', this.editCourseData.teacher_id);
                data.append('name', this.editCourseData.name);
                data.append('description', this.editCourseData.description);
                data.append('from', this.editCourseData.from);
                data.append('to', this.editCourseData.to);
                data.append('logo', document.getElementById('fileLogo').files[0]);
                data.append('status',this.editCourseData.status);
                data.append('certificate_id',this.editCourseData.certificate_id);
                if(this.addNewStudents.length > 0) {
                    data.append('students',this.addNewStudents);
                }
                axios.post(api + 'courses/update/' + this.params, data).then(response => {
                    console.log(response);
                    this.marker = 1;
                    this.getCourse();
                    this.$toaster.success(response.data.message);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            }
        },
        beforeMount() {
            this.getId();
            this.getCourse();
            this.getAllTeachers();
            this.getAllCertificates();
            this.getStudents();
            this.getStudentTeachers();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: #f1f0f0;
    }
    .m-t-20 {
        margin-top: 20px;
    }
    .title-center h1 {
        /*font-size: 24px;*/
        color: #5a5a5a;
    }
    .title p {
        font-size: 14px;
        color: #8a8a8a;
    }
    .p-b {
        padding-bottom: 5px;
    }
    .design-form {
        margin-top: 20px !important;
        margin-bottom: 80px !important;
        padding: 15px;
        /*margin: auto;*/
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
        /*max-width: 500px;*/
    }
    label {
        color: #8a8a8a;
    }
    .studentsListHeader {
        margin-top: 10px;
        color: #8a8a8a;
    }
    .form-control {
        border-radius: 0px;
    }
    .btn-add {
        border-width: 1px;
        border-color: #8c8c8c80;
        border-style: solid;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 200px;
        height: 40px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-right: 5px;
        /*float: right;*/
    }
    .btn-add:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .btn-add:disabled {
        cursor: not-allowed;
    }
    .btn-add1 {
        border-width: 1px;
        border-color: #8c8c8c80;
        border-style: solid;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 100%;
        height: 40px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        /*float: right;*/
    }
    .btn-add1:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .btn-add1:focus, .btn-add:focus {
        outline: none;
    }
    .custom-ul {
        margin-top: 0px;
    }
</style>
