<template>
    <!--<div class="container-fluid">-->
        <!--<vue-simple-spinner v-if="loader == true" message="Loading..."></vue-simple-spinner>-->
        <div class="container myCours">
            <div class="row title">
                <div class="col-xs-12 col-md-4">
                    <h1>Moji kursevi</h1>
                </div>
                <div class="col-xs-12 col-md-8">
                    <input v-debounce="delay" v-model.lazy="searchData" class="search" type="text" name="search" placeholder="Search..">
                </div>
            </div>
            <div class="row courses">
                <p v-if="courses == null">Nema rezultata</p>
                <div v-if="courses != null" class="col-xs-12 col-md-6" v-for="(course, index) in courses">
                    <div class="card-courses">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <img v-if="course.image.length > 0" v-bind:src="endpoint + course.image[0].path">
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h2>{{course.name}}</h2>
                                        <p><b>Opis:</b> {{course.description}}</p>
                                        <p v-if="course.status == 1"><b>Status kursa:</b> Jos uvek nije počeo</p>
                                        <p v-if="course.status == 2"><b>Status kursa:</b> Trenutno u toku</p>
                                        <p v-if="course.status == 3"><b>Status kursa:</b> Završen</p>
                                    </div>
                                    <div class="col-xs-12 p-t-20">
                                        <button @click="getCoursesDelete(course.id, index)" type="button" class="btn-delete pull-right" data-toggle="modal" data-target="#deleteCourses">Obriši</button>
                                        <button @click="goToEdit(course.id)" type="button" class="btn-edit pull-right" style="margin-left: 10px;">Izmeni</button>
                                        <button @click="goTo(course.id)" type="button" class="btn-more pull-right">Vidi više</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div v-if="totalItems > 10" is="uib-pagination" :total-items="totalItems" :max-size="maxSize" v-model="pagination" @change="pageChanged()"></div>
                </div>
            </div>
            <!--MODAL potvrdi brisanje-->
            <div id="deleteCourses" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Potvrdi brisanje kursa</h4>
                        </div>
                        <!--<div class="modal-body">-->

                        <!--</div>-->
                        <div class="modal-footer">
                            <button @click="deleteCourses(deleteCourseId, courseIndex)" type="button" class="btn btn-default" data-dismiss="modal">Potvrdi</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--</div>-->
</template>

<script>
    import debounce from 'v-debounce'
    export default {
        data() {
            return {
                courses: [],
                editCourseData: [],
                studentsFinishCourses:[],
                courseId: '',
                courseIndex: '',
                deleteCourseId: '',
                searchData: '',
                delay: 700,
                endpoint: endPoint,
                role: role,
                totalItems: 0,
                pagination: { currentPage: 1, },
                maxSize: 5,
                loader: false
            }
        },
        watch: {
            searchData () {
                axios.post(api + 'courses/search-my-courses', {
                    keyword: this.searchData
                }).then(response => {
                    this.courses = response.data.entity.data;
                    this.totalItems = response.data.entity.total;
                    console.log(response);
                }).catch(error => {
                    console.log(error);
                })
            }
        },
        directives: {debounce},
        methods: {
            pageChanged: function() {
                this.getCourses(this.pagination.currentPage);
                console.log('Page changed to: ' + this.pagination.currentPage);
            },
            getCourses(pageNum){
                this.loader = true;
                axios.get(api + 'my-courses?page=' + pageNum).then(response =>{
                    this.courses = response.data.entity.data;
                    this.totalItems = response.data.entity.total;
                    console.log(this.courses);
                    this.loader = false;
                }).catch(error => {
                    console.log(error);
                })
            },
//            getCoursesId(id) {
//                this.courseId = id;
//            },
            goToEdit(id) {
                this.$router.push('/edit-kursa/' + id);
            },
            goTo(id) {
                this.$router.push('/single-view-courses/' + id);
            },
            getCoursesDelete(id, index) {
                this.deleteCourseId = id;
                this.courseIndex = index;
            },
            deleteCourses(id, index) {
                axios.post(api + 'courses/delete/' + id).then(response => {
                    this.courses.splice(index, 1);
                    console.log(id);
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
        },
        beforeMount() {
            this.getCourses();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    ul {
        margin-top: 60px;
    }
    li {
        list-style: none outside none;
    }
    .title h1 {
        color: #5a5a5a;
        float: left;
        margin: 0px;
    }
    .myCours {
        margin-top: 30px;
    }
    .p-t-20 {
        padding-top: 20px;
    }
    .courses {
        margin-top: 30px;
    }
    .courses img {
        border-radius: 2px;
        width: 110px;
        height: 110px;
    }
    .courses h2 {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 18px;
        color: #656565;
    }
    .courses p {
        color: #8a8a8a;
        font-size: 12px;
        margin-bottom: 0px;
    }
    .card-courses {
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
        height: 150px;
        padding: 20px;
        /*cursor: pointer;*/
    }
    .btn-edit {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-left: 8px;
        outline: none;
    }
    .btn-edit:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .btn-delete {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-left: 8px;
        outline: none;
    }
    .btn-delete:hover {
        border-color: #ff0000;
        color: #ff0000;
        transition: all .1s ease-out;
    }
    .btn-more {
        border: solid 1px #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        outline: none;
    }
    .btn-more:hover {
        border-color: #0275d8;
        color: #0275d8;
        transition: all .1s ease-out;
    }
    .search {
        width: 130px;
        box-sizing: border-box;
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        background-color: white;
        background-image: url('../assets/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 7px 20px 8px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        float: right;
        margin-right: 20px;
    }
    .search:focus {
        width: 250px;
        outline: none;
    }
</style>
