<template>
    <div class="container myApplic">
        <div class="row title">
            <div class="col-xs-12 col-md-12">
                <h1>Moje aplikacije oglasa</h1>
            </div>
        </div>
        <div class="row company-news-content">
            <div class="col-xs-12 col-md-6 company-news-margin" v-for="(application, index) in myApplications">
                <p v-if="myApplications.length == 0">Nema aplikacija</p>
                <div class="card-compNews">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>{{application.title}}</h2>
                        </div>
                        <div class="col-xs-12">
                            <p>{{application.description | truncate(65)}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 p-t-25">
                            <button @click="goTo(application.id)" type="button" class="btn-more pull-right">Vidi više</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div v-if="totalItems > 10" is="uib-pagination" :total-items="totalItems" :max-size="maxSize" v-model="pagination1" @change="pageChanged()"></div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                myApplications: [],
                totalItems: 0,
                pagination1: { currentPage: 1, },
                maxSize: 5,
            }
        },
        computed:{
            isValid(){

            }
        },
        methods: {
            pageChanged: function() {
                this.getCompaniesNews(this.pagination1.currentPage);
                console.log('Page changed to: ' + this.pagination1.currentPage);
            },
            getMyApplications() {
                axios.post(api + 'my-applications').then(response => {
                    this.myApplications = response.data.entity.data;
                    this.totalItems = response.data.entity.total;
                    console.log(this.myApplications);
                }).catch(error => {
                    console.log(error);
                })
            },
            goTo(id) {
                this.$router.push('/single-view-company-news/' + id);
            },
        },
        beforeMount() {
            this.getMyApplications();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .title h1 {
        color: #5a5a5a;
        float: left;
        margin: 0px;
    }
    .card-compNews {
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
        height: 150px;
        padding: 20px;
        /*cursor: pointer;*/
    }
    .company-news-content {
        margin-top: 30px;
    }
    .company-news-content h2 {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 18px;
        color: #656565;
    }
    .myApplic {
        margin-top: 30px;
    }
    .company-news-content p {
        color: #8a8a8a;
        font-size: 12px;
    }
    .p-t-25 {
        padding-top: 25px;
    }
    .btn-more {
        border: solid 1px #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        outline: none;
    }
    .btn-more:hover {
        border-color: #0275d8;
        color: #0275d8;
        transition: all .1s ease-out;
    }
</style>
