<template>
    <div class="container myCompanyNews">
        <div class="row title">
            <div class="col-xs-12 col-md-4">
                <h1>Moji oglasi</h1>
            </div>
            <div class="col-xs-12 col-md-8">
                <button v-if="role == 'company'" type="button" class="btn-add pull-right" data-toggle="modal" data-target="#myModal">Dodaj oglas</button>
            </div>
        </div>
        <div class="row company-news-content">
            <div class="col-xs-12 col-md-6 company-news-margin" v-for="(news, index) in myNews">
                <div class="card-compNews">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>{{news.title}}</h2>
                        </div>
                        <div class="col-xs-12">
                            <p><b>Opis:</b> {{news.description | truncate(65)}}</p>
                            <p><b>Kategorija:</b> {{news.category | truncate(65)}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button v-if="role == 'company'" @click="getCompaniesNewsDelete(news.id, index)" type="button" class="btn-delete pull-right" data-toggle="modal" data-target="#deleteCompaniesNews">Obriši</button>
                            <button v-if="role == 'company'" @click="getCompaniesNewsId(news.id), getCompaniesNewsEdit(news.id)" data-toggle="modal" data-target="#editCompaniesNews" type="button" class="btn-edit pull-right" style="margin-left: 10px;">Izmeni</button>
                            <button @click="goTo(news.id)" type="button" class="btn-more pull-right">Vidi više</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL Dodaj post-->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dodaj oglas</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Naslov</label>
                                <input v-model="addCompaniesNewsData.title" type="text" class="form-control" id="formGroupExampleInput">
                            </div>
                            <div class="form-group">
                                <label for="exampleTextarea">Opis</label>
                                <textarea v-model="addCompaniesNewsData.description" class="form-control" id="exampleTextarea" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="exampleSelect1">Kategorija</label>
                                <select class="form-control" id="exampleSelect1" v-model="addCompaniesNewsData.category">
                                    <option value="" disabled selected style="display: none;">Kategorija</option>
                                    <option v-bind:value="'job'">Posao</option>
                                    <option v-bind:value="'internship'">Praksa</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button v-bind:disabled="!isValid" @click="addCompaniesNews()" type="button" class="btn btn-default" data-dismiss="modal" >Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL Izmeni post-->
        <div id="editCompaniesNews" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Izmeni oglas </h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="formGroupExampleInput1">Naslov</label>
                                <input v-model="editCompaniesNewsData.title" type="text" class="form-control" id="formGroupExampleInput1">
                            </div>
                            <div class="form-group">
                                <label for="exampleTextarea">Opis</label>
                                <textarea v-model="editCompaniesNewsData.description" class="form-control" id="exampleTextarea1" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleSelect1">Kategorija</label>
                                <select class="form-control" id="exampleSelect2" v-model="editCompaniesNewsData.category">
                                    <option value="" disabled selected style="display: none;">Kategorija</option>
                                    <option v-bind:value="'job'">Posao</option>
                                    <option v-bind:value="'internship'">Praksa</option>
                                </select>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button @click="editCompaniesNews(companiesNewsId)" type="button" class="btn btn-default" data-dismiss="modal">Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL potvrdi brisanje-->
        <div id="deleteCompaniesNews" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Potvrdi brisanje oglasa </h4>
                    </div>
                    <!--<div class="modal-body">-->

                    <!--</div>-->
                    <div class="modal-footer">
                        <button @click="deleteCompaniesNews(deleteCompaniesNewsId, companiesNewsIndex)" type="button" class="btn btn-default" data-dismiss="modal">Potvrdi</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                myNews: [],
                addCompaniesNewsData: {
                    title: '',
                    description: '',
                    category: '',
                },
                editCompaniesNewsData: [],
                companiesNewsId: '',
                companiesNewsIndex: '',
                deleteCompaniesNewsId: '',
                endpoint: endPoint,
                role: role
            }
        },
        computed:{
            isValid(){
                return this.addCompaniesNewsData.title != '' && this.addCompaniesNewsData.description != '' && this.addCompaniesNewsData.category != ''
            }
        },
        methods: {
            addCompaniesNews() {
                axios.post(api + 'notice', {
                    title: this.addCompaniesNewsData.title,
                    description: this.addCompaniesNewsData.description,
                    category: this.addCompaniesNewsData.category,
                }).then(response => {
                    this.getCompaniesNews();
                    this.addCompaniesNewsData.title = '';
                    this.addCompaniesNewsData.description = '';
                    this.addCompaniesNewsData.category = '';
                    //                    var clone = JSON.parse(JSON.stringify(this.addPost));
                    //                    this.posts.push(clone);
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
            getCompaniesNewsEdit(id){
                axios.get(api + 'notice/' + id).then(response =>{
                    this.editCompaniesNewsData = response.data.entity;
                    console.log(this.editCompaniesNewsData);
                }).catch(error => {
                    console.log(error);
                })
            },
            editCompaniesNews(id) {
                axios.post(api + 'notice/update/' + id, {
                    title: this.editCompaniesNewsData.title,
                    description: this.editCompaniesNewsData.description,
                    category: this.editCompaniesNewsData.category,
                }).then(response => {
                    this.getCompaniesNews();
//                    var clone = JSON.parse(JSON.stringify(this.addPost));
//                    this.posts.push(clone);
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
            getCompaniesNews(){
                axios.get(api + 'company-notice').then(response =>{
                    this.myNews = response.data.entity;
                    console.log(this.myNews);

                }).catch(error => {
                    console.log(error);
                })
            },
            getCompaniesNewsId(id) {
                this.companiesNewsId = id;
            },
            goTo(id) {
                this.$router.push('/single-view-company-news/' + id);
            },
            getCompaniesNewsDelete(id, index) {
                this.deleteCompaniesNewsId = id;
                this.companiesNewsIndex = index;
            },
            deleteCompaniesNews(id, index) {
                axios.post(api + 'notice/delete/' + id).then(response => {
                    this.companiesNews.splice(index, 1);
                    console.log(id);
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
        },
        beforeMount() {
            this.getCompaniesNews();
        }
    }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    ul {
        margin-top: 60px;
    }
    li {
        list-style: none outside none;
    }
    .title h1 {
        color: #5a5a5a;
        float: left;
        margin: 0px;
    }
    .title p {
        color: #8a8a8a;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }
    .card-compNews {
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
        height: 150px;
        padding: 20px;
        /*cursor: pointer;*/
    }
    .company-news-content {
        margin-top: 30px;
    }
    .company-news-content h2 {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 18px;
        color: #656565;
    }
    .company-news-content p {
        color: #8a8a8a;
        font-size: 12px;
    }
    .myCompanyNews {
        margin-top: 30px;
    }
    .btn-delete {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-left: 10px;
        outline: none;
    }
    .btn-delete:hover {
        border-color: #ff0000;
        color: #ff0000;
        transition: all .1s ease-out;
    }
    .btn-edit {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-left: 10px;
        outline: none;
    }
    .btn-edit:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .btn-more {
        border: solid 1px #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        outline: none;
    }
    .btn-more:hover {
        border-color: #0275d8;
        color: #0275d8;
        transition: all .1s ease-out;
    }
    .btn-add {
        border: solid 1px #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 200px;
        height: 40px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        float: right;
    }
    .btn-add:hover, .btn-add:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
        outline: none;
    }
    label {
        color: #8a8a8a;
    }
</style>
