<template>
    <div class="container news">
        <div class="row">
            <div class="col-sm-12">
                <h1>Moje preporuke</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
        <hr>
        <div class="row" v-for="(suggestion, index) in mySuggestions">
            <!--<div class="col-sm-4 col-md-3">-->
                <!--<img v-if="course.image.length > 0" v-bind:src="endpoint + course.image[0].path">-->
            <!--</div>-->
            <div class="col-sm-12">
                <h2>{{suggestion.title}}</h2>
                <p><b>Opis:</b> {{suggestion.description}}</p>
                <p><b>Student:</b> {{suggestion.student.first_name}} {{suggestion.student.last_name}}</p>
                <button type="button" class="btn btn-success vidi-vise pull-right" @click="getSugestionData(suggestion)" style="margin-left: 10px;" data-toggle="modal" data-target="#editSuggestion">Izmeni</button>
                <button type="button" class="btn btn-danger vidi-vise pull-right" @click="getDeleteId(suggestion.id)" data-toggle="modal" data-target="#deleteCourses">Obriši</button><br>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div v-if="totalItems > 10" is="uib-pagination" :total-items="totalItems" :max-size="maxSize" v-model="pagination" @change="pageChanged()"></div>
            </div>
        </div>
        <!--MODAL potvrdi brisanje-->
        <div id="deleteCourses" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Potvrdi brisanje kursa</h4>
                    </div>
                    <!--<div class="modal-body">-->

                    <!--</div>-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" @click="deleteSuggestion()">Potvrdi</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL izmeni preporuku-->
        <div id="editSuggestion" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Izmeni preporuku</h4>
                    </div>
                    <div class="modal-body padding-left-right">
                        <form>
                            <div class="form-group">
                                <label for="formGroupExampleInput1">Ime preporuke</label>
                                <input v-model="editSuggestionData.title" type="text" class="form-control" id="formGroupExampleInput1" placeholder="Izmeni ime preporuke">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Opis preporuke </label>
                                <textarea v-model="editSuggestionData.description" id="formGroupExampleInput2" class="form-control" placeholder="Izmeni opis preporuke..."></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" @click="editSuggestion()">Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                mySuggestions: [],
                deleteId: '',
                editSuggestionData: [],
                totalItems: 0,
                pagination: { currentPage: 1, },
                maxSize: 5,
            }
        },
        methods: {
            pageChanged: function() {
                this.getMySuggestions(this.pagination.currentPage);
                console.log('Page changed to: ' + this.pagination.currentPage);
            },
            getMySuggestions(pageNum){
                axios.get(api + 'suggestions?page=' + pageNum).then(response =>{
                    this.mySuggestions = response.data.entity.data;
                    this.totalItems = response.data.entity.total;
                    console.log(this.mySuggestions);
                }).catch(error => {
                    console.log(error);
                })
            },
            getDeleteId(id) {
                this.deleteId = id;
            },
            deleteSuggestion() {
                axios.post(api + 'suggestions/delete/' + this.deleteId).then(response => {
                    this.getMySuggestions();
                    this.$toaster.success(response.data.message);
                }).catch(error => {
                    console.log(error);
                    this.$toaster.error(response.data.message);
                })
            },
            getSugestionData(suggestion) {
                this.editSuggestionData = suggestion;
            },
            editSuggestion() {
                axios.post(api + 'suggestions/update/' + this.editSuggestionData.id, {
                    title: this.editSuggestionData.title,
                    description: this.editSuggestionData.description
                }).then(response => {
                    this.getMySuggestions();
                    this.$toaster.success(response.data.message);
                }).catch(error => {
                    console.log(error);
                    this.$toaster.error(response.data.message);
                })
            }
        },
        beforeMount() {
            this.getMySuggestions();
        }
    }
</script>