<template>
    <div class="container news">
        <div class="row title">
            <div class="col-xs-12 col-md-2">
                <h1>Novosti</h1>
            </div>
            <div class="col-xs-12 col-md-10">
                <button v-if="role == 'admin'" type="button" class="btn-add pull-right" data-toggle="modal" data-target="#myModal">Dodaj Novost</button>
                <input v-debounce="delay" v-model.lazy="searchData" class="search" type="text" name="search" placeholder="Search..">
            </div>
        </div>
        <div class="row news-content">
            <p v-if="posts == null">Nema rezultata</p>
            <div v-if="posts != null" class="col-xs-12 col-md-6" v-for="(post, index) in posts">
                <div class="card">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <img v-bind:src="endpoint + post.images.path">
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2>{{post.title}}</h2>
                                    <p>{{post.description | truncate(80)}}</p>
                                </div>
                                <div class="col-xs-12 p-t">
                                    <button v-if="role == 'admin'" @click="getPosttId(post.id, index)" type="button" class="btn-delete pull-right" data-toggle="modal" data-target="#potvrdibrisanje">Obrisi</button>
                                    <button v-if="role == 'admin'" @click="getPostId(post.id), getPostEdit(post.id)" data-toggle="modal" data-target="#izmenipost" type="button" class="btn-edit pull-right">Izmeni</button>
                                    <button @click="goTo(post.id)" type="button" class="btn-more pull-right">Vidi više</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div v-if="totalItems > 10" is="uib-pagination" :total-items="totalItems" :max-size="maxSize" v-model="pagination1" @change="pageChanged()"></div>
            </div>
        </div>
        <!--MODAL Dodaj post-->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dodaj novost</h4>
                    </div>
                    <div class="modal-body padding-left-right">
                        <form>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Naslov</label>
                                <input v-model="addPost.title" type="text" class="form-control" id="formGroupExampleInput">
                            </div>
                            <div class="form-group">
                                <label for="exampleTextarea">Opis</label>
                                <textarea v-model="addPost.description" class="form-control" id="exampleTextarea" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="file">Upload slike</label><br>
                                <input type="file" class="" id="file">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button @click="addPosts()" v-bind:disabled="!isValidAddPost" type="button" class="btn btn-default" data-dismiss="modal">Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL Izmeni post-->
        <div id="izmenipost" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Izmeni novost</h4>
                    </div>
                    <div class="modal-body padding-left-right">
                        <form>
                            <div class="form-group">
                                <label for="formGroupExampleInput1">Naslov</label>
                                <input v-model="editPost.title" type="text" class="form-control" id="formGroupExampleInput1">
                            </div>
                            <div class="form-group">
                                <label for="exampleTextarea1">Opis</label>
                                <textarea v-model="editPost.description" class="form-control" id="exampleTextarea1" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="file">Upload slike</label><br>
                                <input type="file" class="" id="file1">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button @click="editPosts(postId)" type="button" class="btn btn-default" data-dismiss="modal">Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL potvrdi brisanje-->
        <div id="potvrdibrisanje" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Potvrdi brisanje novosti</h4>
                    </div>
                    <!--<div class="modal-body">-->

                    <!--</div>-->
                    <div class="modal-footer">
                        <button @click="deletePost(deletepostId, postIndex)" type="button" class="btn btn-default" data-dismiss="modal">Potvrdi</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
 
<script>
    import debounce from 'v-debounce'
    export default {
        data() {
            return {
                posts: [],
                addPost: {
                    title: '',
                    description: '',
                },
                editPost: {
                    title: '',
                    description: '',
                },
                searchData: '',
                delay: 700,
                postId: '',
                postIndex: '',
                deletepostId: '',
                endpoint: endPoint,
                role: role,
                totalItems: 0,
                pagination1: { currentPage: 1, },
                maxSize: 5,
            }
        },
        computed: {
            isValidAddPost() {
                return this.addPost.title != '' && this.addPost.description != ''
            }
        },
        watch: {
            searchData () {
                axios.post(api + 'posts/search', {
                    keyword: this.searchData
                }).then(response => {
                    this.posts = response.data.entity.data;
                    this.totalItems = response.data.entity.total;
                    console.log(response);
                }).catch(error => {
                    console.log(error);
                })
            }
        },
        directives: {debounce},
        methods: {
            pageChanged: function() {
                this.getPosts(this.pagination1.currentPage);
                console.log('Page changed to: ' + this.pagination1.currentPage);
            },
            getPosts(pageNum){
                axios.get(api + 'posts?page=' + pageNum).then(response =>{
                    this.posts = response.data.entity.data;
                    this.totalItems = response.data.entity.total;
                    console.log(this.posts);
                }).catch(error => {
                    console.log(error);
                })
            },
            addPosts() {
                let data = new FormData();
                data.append('title', this.addPost.title);
                data.append('description', this.addPost.description);
                data.append('image', document.getElementById('file').files[0]);
                axios.post(api + 'posts', data).then(response => {
                    this.getPosts();
                    this.addPost.title = '';
                    this.addPost.description = '';
//                    var clone = JSON.parse(JSON.stringify(this.addPost));
//                    this.posts.push(clone);
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
            getPostId(id) {
                this.postId = id;
            },
            getPostEdit(id){
                axios.get(api + 'posts/' + id).then(response =>{
                    this.editPost = response.data.entity;
                    console.log(this.editPost);
                }).catch(error => {
                    console.log(error);
                })
            },
            editPosts(id) {
                let data1 = new FormData();
                data1.append('title', this.editPost.title);
                data1.append('description', this.editPost.description);
                data1.append('image', document.getElementById('file1').files[0]);
                console.log(data1);

                axios.post(api + 'posts/update/' + id, data1).then(response => {
                    this.getPosts();
//                    var clone = JSON.parse(JSON.stringify(this.addPost));
//                    this.posts.push(clone);
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
            getPosttId(id, index) {
                this.deletepostId = id;
                this.postIndex = index;
            },
            deletePost(id, index) {
                axios.post(api + 'posts/delete/' + id).then(response => {
                    this.posts.splice(index, 1);
                    console.log(id);
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
            goTo(id) {
                this.$router.push('/single-view-novosti/' + id);
            },
        },
        beforeMount() {
            this.getPosts();
        }
    }
</script>

<style scoped>
    ul {
        margin-top: 60px;
    }
    li {
        list-style: none outside none;
    }
    .news {
        margin-top: 30px;
    }
    .news img {
        border-radius: 2px;
        width: 100%;
        height: auto;
    }
    .padding-left-right{
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
    /*.title {*/
        /*border-bottom: 1px solid #8c8c8c80;*/
        /*padding-bottom: 15px;*/
    /*}*/
    .title h1 {
        color: #5a5a5a;
        float: left;
        margin: 0px;
    }
    .title p {
        color: #8a8a8a;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }
    /* card */
    .news-content {
        margin-top: 30px;
    }
    .news-content h2 {
        font-size: 16px;
        margin-top: 0px;
        color: #656565;
    }
    .news-content p {
        color: #8a8a8a;
        font-size: 12px;
    }
    /*============= redesign css =============*/

    /* new card */
    .p-t {
        padding-top: 7px;
    }
    .card {
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
        height: 150px;
        padding: 20px;
        /*cursor: pointer;*/
    }
    .card img {
        height: 110px;
        width: 110px;
    }
    /*.card:hover {*/
        /*box-shadow: 0 0 25px rgba(136,136,136,0.38);*/
    /*}*/
    .news-content a {
        cursor: pointer;
    }
    /*.news-content a:hover {
        box-shadow: 0 0 24px rgba(136,136,136,0.38);
    }*/
    .btn-delete {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-left: 8px;
        outline: none;
    }
    .btn-delete:hover {
        border-color: #ff0000;
        color: #ff0000;
        transition: all .1s ease-out;
    }
    .btn-edit {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-left: 8px;
        outline: none;
    }
    .btn-edit:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .btn-more {
        border: solid 1px #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        outline: none;
    }
    .btn-more:hover {
        border-color: #0275d8;
        color: #0275d8;
        transition: all .1s ease-out;
    }
    .btn-add {
        border-width: 1px;
        border-color: #8c8c8c80;
        border-style: solid;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 200px;
        height: 40px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        float: right;
    }
    .btn-add:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .search {
        width: 130px;
        box-sizing: border-box;
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        background-color: white;
        background-image: url('../assets/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 7px 20px 8px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        float: right;
        margin-right: 20px;
    }
    .search:focus {
        width: 250px;
        outline: none;
    }
    @media only screen and (max-width: 768px)  {
        .card {
            height: auto;
        }
    }
</style>
