<template>
    <div class="container">
        <!--<div class="row">-->
            <!--<div class="col-lg-12 title">-->
                <!--<h1>Podešavanja</h1>-->
            <!--</div>-->
        <!--</div>-->
        <ul class="nav nav-tabs settings-ul">
            <li class="active"><a data-toggle="tab" href="#admini">Admini</a></li>
            <li><a data-toggle="tab" href="#predavaci">Predavači</a></li>
            <li><a data-toggle="tab" href="#studenti">Studenti</a></li>
            <li><a data-toggle="tab" href="#profesori">Profesori</a></li>
            <li><a data-toggle="tab" href="#kompanije">Kompanije</a></li>
            <li><a data-toggle="tab" href="#kontakt">Kontakt Email</a></li>
        </ul>

        <div class="tab-content">
            <div id="admini" class="tab-pane fade in active">
                <table id="mytable7" class="table table-bordred table-striped" style="padding-top:50px;">
                    <thead>
                    <th style="padding-left: 10px; padding-top:15px;">Redni broj</th>
                    <th style="padding-left: 10px; padding-top:15px;">Ime i prezime</th>
                    <th style="padding-left: 10px; padding-top:15px;">E-mail</th>
                    <th style="padding-left: 10px; padding-top:15px;">Opcije</th>
                    </thead>
                    <tbody>
                    <tr v-for="(admin, index) in admins">
                        <td>{{index+1}}.</td>
                        <td>{{admin.admineable.first_name}} {{admin.admineable.last_name}}</td>
                        <td v-if="admin.admineable.email">{{admin.admineable.email}}</td>
                        <td v-if="!admin.admineable.email">/</td>
                        <td>
                            <button @click="getAdminId(admin.id, index)" type="button" class="btn-delete-sett pull-right" data-toggle="modal" data-target="#potvrdibrisanjeadmina">Skloni Admina</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div v-if="totalItems4 > 10" is="uib-pagination" :total-items="totalItems4" :max-size="maxSize" v-model="pagination4" @change="pageChanged4()"></div>
            </div>
            <div id="predavaci" class="tab-pane fade">
                <table id="mytable2" class="table table-bordred table-striped" style="padding-top:50px;">
                    <thead>
                        <th style="padding-left: 10px; padding-top:15px;">Redni broj</th>
                        <th style="padding-left: 10px; padding-top:15px;">Ime i prezime</th>
                        <th style="padding-left: 10px; padding-top:15px;">Opcije</th>
                    </thead>
                    <tbody>
                        <tr v-for="(teacher, index) in teachers">
                            <td>{{index+1}}.</td>
                            <td>{{teacher.teacherable.first_name}} {{teacher.teacherable.last_name}}</td>
                            <td>
                                <button @click="removeTeacherId(teacher.id)" type="button" class="btn-delete-sett pull-right" data-toggle="modal" data-target="#potvrdibrisanjepredavaca">Obriši iz liste predavača</button>
                                <button type="button" class="btn-add-sett pull-right" @click="addUserInAdmin(teacher)">Unapredi u admina</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div v-if="totalItems1 > 10" is="uib-pagination" :total-items="totalItems1" :max-size="maxSize" v-model="pagination1" @change="pageChanged1()"></div>
            </div>
            <div id="studenti" class="tab-pane fade">
                <table id="mytable1" class="table table-bordred table-striped" style="padding-top:50px;">
                    <thead>
                        <th style="padding-left: 10px; padding-top:15px;">Redni broj</th>
                        <th style="padding-left: 10px; padding-top:15px;">Ime i prezime</th>
                        <th style="padding-left: 10px; padding-top:15px;">Opcije</th>
                    </thead>
                    <tbody>
                        <tr v-for="(student, index) in students">
                            <td>{{index+1}}.</td>
                            <td v-if="student.first_name && student.last_name">{{student.first_name}} {{student.last_name}}</td>
                            <td>
                                <button @click="getStudentId(student.id, index)" type="button" class="btn-delete-sett pull-right" data-toggle="modal" data-target="#potvrdibrisanje">Obriši</button>
                                <button type="button" class="btn-add-sett pull-right" @click="addUserInTeacher(student)">Dodaj predavača</button>
                                <button type="button" class="btn-add-sett pull-right" @click="addUserInAdmin(student)">Unapredi u admina</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div v-if="totalItems > 10" is="uib-pagination" :total-items="totalItems" :max-size="maxSize" v-model="pagination" @change="pageChanged()"></div>
            </div>
            <div id="profesori" class="tab-pane fade">
                <table id="mytable3" class="table table-bordred table-striped" style="padding-top:50px;">
                    <thead>
                        <th style="padding-left: 15px; padding-top:15px;">Redni broj</th>
                        <th style="padding-left: 15px; padding-top:15px;">Ime i prezime</th>
                        <th style="padding-left: 15px; padding-top:15px;">Opcije</th>
                    </thead>
                    <tbody>
                        <tr v-for="(professor, index) in professors">
                            <td>{{index+1}}.</td>
                            <td>{{professor.name}} {{professor.lastname}}</td>
                            <td>
                                <button type="button" class="btn-add-sett pull-right" @click="addUserInTeacher(professor)">Dodaj predavača</button>
                                <button type="button" class="btn-add-sett pull-right" @click="addUserInAdmin(professor)">Unapredi u admina</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div v-if="totalItems2 > 10" is="uib-pagination" :items-per-page="15" :total-items="totalItems2" :max-size="maxSize" v-model="pagination2" @change="pageChanged2()"></div>
            </div>
            <div id="kompanije" class="tab-pane fade">
                <button type="button" class="pull-right btn-add-company" data-toggle="modal" data-target="#myModal">Dodaj kompaniju</button>
                <table id="mytable4" class="table table-bordred table-striped" style="padding-top:50px;">
                    <thead>
                        <th style="padding-left: 15px; padding-top:15px;">Redni broj</th>
                        <th style="padding-left: 15px; padding-top:15px;">Ime kompanije</th>
                        <th style="padding-left: 15px; padding-top:15px;">Opcije</th>
                    </thead>
                    <tbody>
                        <tr v-for="(company, index) in companies">
                            <td>{{index + 1}}.</td>
                            <td>{{company.company_name}}</td>
                            <td>
                                <button @click="getCompanyDelete(company.id, index)" type="button" class="btn-delete-sett pull-right" data-toggle="modal" data-target="#deleteCompany">Obriši</button>
                                <button @click="getCompanyId(company.id), getCompanyEdit(company.id)" data-toggle="modal" data-target="#editCompany" type="button" class="btn-edit-sett pull-right" style="margin-left: 10px;">Izmeni</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div v-if="totalItems3 > 10" is="uib-pagination" :total-items="totalItems3" :max-size="maxSize" v-model="pagination3" @change="pageChanged3()"></div>
            </div>
            <div id="kontakt" class="tab-pane fade">
                <form class="design-form">
                    <div class="row">
                        <div class="col-xs-9">
                            <label>Kontakt Email</label><br>
                            <input v-on:input="validate()" name="email" v-validate="'required|email'" data-vv-delay="700" v-model="email" type="text" class="form-control" id="formGroupExampleInput10">
                            <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
                        </div>
                        <div class="col-xs-3">
                            <label></label>
                            <button type="button" class="btn-add-email m-t-25" v-bind:disabled="!isValid" @click="updateEmail()">Saćuvaj</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--MODAL Dodaj kompaniju-->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dodaj kompaniju</h4>
                    </div>
                    <div class="modal-body padding-left-right">
                        <form>
                            <div class="form-group">
                                <label for="formGroupExampleInput6">Korisnicko ime kompanije</label>
                                <input v-model="addCompanyData.username" type="text" class="form-control" id="formGroupExampleInput6">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput7">Šifra kompanije</label>
                                <input v-model="addCompanyData.password" type="password" class="form-control" id="formGroupExampleInput7">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput11">Ime kompanije</label>
                                <input v-model="addCompanyData.company_name" type="text" class="form-control" id="formGroupExampleInput11">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput8">Ime</label>
                                <input v-model="addCompanyData.name" type="text" class="form-control" id="formGroupExampleInput8">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput9">Prezime</label>
                                <input v-model="addCompanyData.lastname" type="text" class="form-control" id="formGroupExampleInput9">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput22">Email</label>
                                <input v-on:input="validateAddCompany()" name="email" v-validate="'required|email'" data-vv-delay="700" v-model="addCompanyData.email" type="text" class="form-control" id="formGroupExampleInput22">
                                <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
                            </div>
                            <div class="form-group">
                                <label>Logo</label><br>
                                <input type="file" class="form-control" id="fileLogo"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button v-bind:disabled="!isValid1" @click="addCompany()" type="button" class="btn btn-default" data-dismiss="modal" >Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL Izmeni kompaniju-->
        <div id="editCompany" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Izmeni podatke kompanije</h4>
                    </div>
                    <div class="modal-body padding-left-right">
                        <form>
                            <div class="form-group">
                                <label for="formGroupExampleInput1">Korisnicko ime kompanije</label>
                                <input v-model="editCompanyData.username" type="text" class="form-control" id="formGroupExampleInput1">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Šifra kompanije</label>
                                <input v-model="editCompanyData.password" type="password" class="form-control" id="formGroupExampleInput2">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput12">Ime kompanije</label>
                                <input v-model="editCompanyData.company_name" type="text" class="form-control" id="formGroupExampleInput12">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput3">Ime</label>
                                <input v-model="editCompanyData.name" type="text" class="form-control" id="formGroupExampleInput3">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput4">Prezime</label>
                                <input v-model="editCompanyData.lastname" type="text" class="form-control" id="formGroupExampleInput4">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput5">Email</label>
                                <input v-model="editCompanyData.email" type="text" class="form-control" id="formGroupExampleInput5">
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button @click="editCompany(companyId)" type="button" class="btn btn-default" data-dismiss="modal">Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL potvrdi brisanje admina-->
        <div id="potvrdibrisanjeadmina" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Potvrdi brisanje admina</h4>
                    </div>
                    <!--<div class="modal-body">-->

                    <!--</div>-->
                    <div class="modal-footer">
                        <button @click="deleteAdmin(adminId, adminIndex)" type="button" class="btn btn-default" data-dismiss="modal">Potvrdi</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL potvrdi brisanje-->
        <div id="potvrdibrisanje" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Potvrdi brisanje studenta</h4>
                    </div>
                    <!--<div class="modal-body">-->

                    <!--</div>-->
                    <div class="modal-footer">
                        <button @click="deleteStudent(studentId, studentIndex)" type="button" class="btn btn-default" data-dismiss="modal">Potvrdi</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL potvrdi brisanje predavaca-->
        <div id="potvrdibrisanjepredavaca" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Potvrdi brisanje studenta</h4>
                    </div>
                    <!--<div class="modal-body">-->

                    <!--</div>-->
                    <div class="modal-footer">
                        <button @click="deleteTeacher(teacherId)" type="button" class="btn btn-default" data-dismiss="modal">Potvrdi</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL potvrdi brisanje kompanije-->
        <div id="deleteCompany" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Potvrdi brisanje kompanije</h4>
                    </div>
                    <!--<div class="modal-body">-->

                    <!--</div>-->
                    <div class="modal-footer">
                        <button @click="deleteCompany(deleteCompanyId, companyIndex)" type="button" class="btn btn-default" data-dismiss="modal">Potvrdi</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                email: '',
                emailMarker: false,
                emailMarkerAddCompany: false,
                addCompanyData: {
                    username: '',
                    password: '',
                    name: '',
                    lastname: '',
                    email: '',
                    company_name: ''
                },
                students: [],
                admins: [],
                teachers: [],
                professors: [],
                companies: [],
                editCompanyData: [],
                teacherId: '',
                companyIndex: '',
                deleteCompanyId: '',
                companyId: '',
                adminId: '',
                adminIndex: '',
                totalItems: 0,
                pagination: { currentPage: 1, },
                totalItems1: 0,
                pagination1: { currentPage: 1, },
                totalItems2: 0,
                pagination2: { currentPage: 1, },
                totalItems3: 0,
                pagination3: { currentPage: 1, },
                totalItems4: 0,
                pagination4: { currentPage: 1, },
                maxSize: 5,
            }
        },
        computed:{
            isValid(){
                return this.emailMarker != false;
            },
            isValid1(){
                return this.addCompanyData.username != '' && this.addCompanyData.password != '' && this.addCompanyData.name != '' &&this.addCompanyData.lastname != '' && this.emailMarkerAddCompany != false && this.addCompanyData.company_name != '';
            }
        },
        methods: {
            pageChanged: function() {
                this.getStudents(this.pagination.currentPage);
                console.log('Page changed to: ' + this.pagination.currentPage);
            },
            pageChanged1: function() {
                this.getTeachers(this.pagination1.currentPage);
                console.log('Page changed to: ' + this.pagination1.currentPage);
            },
            pageChanged2: function() {
                this.getProfessors(this.pagination2.currentPage);
                console.log('Page changed to: ' + this.pagination2.currentPage);
            },
            pageChanged3: function() {
                this.getCompanies(this.pagination3.currentPage);
                console.log('Page changed to: ' + this.pagination3.currentPage);
            },
            pageChanged4: function() {
                this.getAdmins(this.pagination4.currentPage);
                console.log('Page changed to: ' + this.pagination4.currentPage);
            },
            validate() {
                this.$validator.validateAll().then((result) => {
                    // eslint-disable-next-line
                    this.emailMarker = result;
                    console.log(result);
                });
            },
            validateAddCompany() {
                this.$validator.validateAll().then((result) => {
                    // eslint-disable-next-line
                    this.emailMarkerAddCompany = result;
                    console.log(result);
                });
            },
            getCurrentEmail(){
                axios.get(api + 'contact-email').then(response =>{
                    this.email = response.data.entity.email;
                    console.log(this.email);
                }).catch(error => {
                    console.log(error);
                })
            },
            updateEmail() {
                axios.post(api + 'contact-email/update', {
                    email: this.email,
                }).then(response => {
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
            getAdmins(pageNum){
                axios.get(api + 'admins?page='+pageNum).then(response =>{
                    this.admins = response.data.entity.data;
//                    this.addStudents = response.data.entity.data;
                    this.totalItems4 = response.data.entity.total;
                    console.log(this.admins);
                }).catch(error => {
                    console.log(error);
                })
            },
            getAdminId(id, index) {
                this.adminId = id;
                this.adminIndex = index;
            },
            deleteAdmin(id, index) {
                axios.post(api + 'admins/remove/' + id).then(response => {
                    this.admins.splice(index, 1);
                    this.getAdmins();
                    this.getStudents();
                    this.getTeachers();
                    this.getProfessors();
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
            addUserInAdmin(user){
//                if(user.role != "student") {
//                    user.role = "professor";
//                }
                axios.post(api + 'admins', {
                    user: user
                }).then(response =>{
                    this.getAdmins();
                    this.getStudents();
                    this.getTeachers();
                    this.getProfessors();
                    console.log(response);
                    this.$toaster.success(response.data.message);
                }).catch(error => {
                    console.log(error);
                    this.$toaster.success(error.data.message);
                })
            },
            getStudents(pageNum){
                axios.get(api + 'role/students?page='+pageNum).then(response =>{
                    this.students = response.data.entity.data;
//                    this.addStudents = response.data.entity.data;
                    this.totalItems = response.data.entity.total;
                    console.log(this.students);
                }).catch(error => {
                    console.log(error);
                })
            },
            addUserInTeacher(user){
                if(user.role != "student") {
                    user.role = "professor";
                }
                axios.post(api + 'teachers', {
                    user: user
                }).then(response =>{
                    this.getStudents();
                    this.getTeachers();
                    this.getProfessors();
                    console.log(response);
                    this.$toaster.success(response.data.message);
                }).catch(error => {
                    console.log(error);
                    this.$toaster.success(error.data.message);
                })
            },
            getStudentId(id, index) {
                this.studentId = id;
                this.studentIndex = index;
            },
            deleteStudent(id, index) {
                axios.post(api + 'students/delete/' + id).then(response => {
                    this.students.splice(index, 1);
                    console.log(id);
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
            getTeachers(pageNum){
                axios.get(api + 'teachers?page=' + pageNum).then(response =>{
                    this.teachers = response.data.entity.data;
                    this.totalItems1 = response.data.entity.total;
                    console.log(this.teachers);
                }).catch(error => {
                    console.log(error);
                })
            },
            removeTeacherId(Id) {
                this.teacherId = Id;
            },
            deleteTeacher(id) {
                axios.post(api + 'teachers/remove/' + id).then(response => {
                    this.getTeachers();
                    this.getStudents();
                    this.getProfessors();
                    console.log(id);
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
            getProfessors(pageNum){
                axios.get(api + 'professors/all?page='+pageNum).then(response =>{
                    this.professors = response.data.entity.data;
                    this.totalItems2 = response.data.entity.total;
                    console.log(this.professors);
                }).catch(error => {
                    console.log(error);
                })
            },
            getCompanies(pageNum){
                axios.get(api + 'companies?page='+pageNum).then(response =>{
                    this.companies = response.data.entity.data;
                    this.totalItems3 = response.data.entity.total;
                    console.log(this.companies);
                }).catch(error => {
                    console.log(error);
                })
            },
            addCompany() {
                let data = new FormData();
                data.append('username', this.addCompanyData.username);
                data.append('password', this.addCompanyData.password);
                data.append('name', this.addCompanyData.name);
                data.append('lastname', this.addCompanyData.lastname);
                data.append('email', this.addCompanyData.email);
                data.append('logo', document.getElementById('fileLogo').files[0]);
                data.append('company_name',this.addCompanyData.company_name);
                axios.post(api + 'companies', data).then(response => {
                    this.getCompany();
                    this.addCompanyData.username = '';
                    this.addCompanyData.password = '';
                    this.addCompanyData.name = '';
                    this.addCompanyData.lastname = '';
                    this.addCompanyData.email = '';
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
            getCompanyEdit(id){
                axios.get(api + 'companies/' + id).then(response =>{
                    this.editCompanyData = response.data.entity;
                    console.log(this.editCompanyData);
                }).catch(error => {
                    console.log(error);
                })
            },
            getCompanyId(id) {
                this.companyId = id;
            },
            editCompany(id) {
                let data = new FormData();
                data.append('username', this.editCompanyData.username);
                data.append('password', this.editCompanyData.password);
                data.append('name', this.editCompanyData.name);
                data.append('lastname', this.editCompanyData.lastname);
                data.append('email', this.editCompanyData.email);
                axios.post(api + 'companies/update/' + id, data).then(response => {
                    this.getCompany();
//                    var clone = JSON.parse(JSON.stringify(this.addPost));
//                    this.posts.push(clone);
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
            getCompanyDelete(id, index) {
                this.deleteCompanyId = id;
                this.companyIndex = index;
            },
            deleteCompany(id, index) {
                axios.post(api + 'companies/delete/' + id).then(response => {
                    this.companies.splice(index, 1);
                    console.log(id);
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
        },
        beforeMount() {
            this.getAdmins();
            this.getCompanies();
            this.getTeachers();
            this.getStudents();
            this.getProfessors();
            this.getCurrentEmail();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: #f1f0f0;
    }
    .settings-ul {
        margin-top: 0px!important;
    }
    .title h1 {
        /*font-size: 24px;*/
        color: #5a5a5a;
    }
    .title p {
        font-size: 14px;
        color: #8a8a8a;
    }
    .design-form {
        margin-top: 20px !important;
        margin-bottom: 80px !important;
        padding: 15px;
        /*margin: auto;*/
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
        /*max-width: 500px;*/
    }
    label {
        color: #8a8a8a;
    }
    .form-control {
        border-radius: 0px;
    }
    .m-t-25 {
        margin-top: 25px;
    }
    .btn-add-company {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 200px;
        height: 40px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        float: right;
        margin-top: 20px;
    }
    .btn-add-company:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .btn-add-email {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 200px;
        height: 34px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        float: right;
    }
    .btn-add-email:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .btn-add-email:focus {
        outline: none;
    }
    .help {
        color: red;
    }
    .btn-add:disabled {
        cursor: not-allowed;
    }
    .btn-delete-sett {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        min-width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-left: 10px;
        outline: none;
    }
    .btn-delete-sett:hover {
        border-color: #ff0000;
        color: #ff0000;
        transition: all .1s ease-out;
    }
    .btn-add-sett {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        min-width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-left: 10px;
        outline: none;
    }
    .btn-add-sett:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .btn-edit-sett {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        min-width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-left: 10px;
        outline: none;
    }
    .btn-edit-sett:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
</style>
