<template>
    <div class="container">
        <div class="row title">
            <div class="col-xs-12 col-md-4">
                <h1>Informacije oglasa</h1>
            </div>
            <div class="col-xs-12 col-md-8">
                <button @click="apply()" v-if="role == 'student' && companysNews.canApply == true || role == 'teacher' && companysNews.canApply == true" type="button" class="btn-add pull-right">Apliciraj</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 m-t-40">
                <h4><b>Ime oglasa:</b> {{companysNews.title}}</h4>
                <h4><b>Kategorija oglasa:</b> {{companysNews.category}}</h4>
                <h4><b>Opis oglasa:</b> {{companysNews.description}}</h4>
            </div>
            <div v-if="role == 'company'" class="col-xs-12 m-t-40">
                <h4><b>Lista studenta koji su aplicirali za ovaj oglas:</b></h4>
                <table id="mytable1" class="table table-bordred table-striped" style="padding-top:50px;">
                    <thead>
                        <th style="padding-left: 8px; padding-top:15px;">Redni broj</th>
                        <th style="padding-left: 8px; padding-top:15px;">Ime i prezime</th>
                        <th style="padding-left: 8px; padding-top:15px;">email</th>
                        <th style="padding-left: 8px; padding-top:15px;">Mesto</th>
                    </thead>
                    <tbody>
                    <tr v-for="(applicant, index) in applicants">
                        <td>{{index+1}}</td>
                        <td>{{applicant.first_name}} {{applicant.last_name}}</td>
                        <td>{{applicant.email}}</td>
                        <td>{{applicant.city}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                params: '',
                companysNews: [],
                applicants: [],
                endpoint: endPoint,
                role: role,
            }
        },
        methods: {
            getId() {
                this.params = this.$route.params.id;
                console.log(this.params);
            },
            getData(){
                axios.get(api + 'notice/' + this.params).then(response =>{
                    this.companysNews = response.data.entity;
                    this.applicants = response.data.entity.applicants;
                    console.log(this.companysNews);
                }).catch(error => {
                    console.log(error);
                })
            },
            apply() {
                axios.post(api + 'apply-notice/' + this.params).then(response => {
                    this.$toaster.success(response.data.message);
                    this.getData();
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(response.data.message);
                    console.log(error);
                })
            }
        },
        beforeMount() {
            this.getId();
            this.getData();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .title h1 {
        color: #5a5a5a;
        float: left;
        margin: 0px;
    }
    .view-novosti img {
        width: 100%;
        height: auto;
    }
    .view-novosti h1 {
        margin-top: 0px;
    }
    .view-novosti h3 {
        margin-top: 0px;
        margin-bottom: 2px;
    }
    .description h3 {
        margin-top: 40px;
    }
    .m-t-40 {
        margin-top: 40px;
    }
    .btn-add {
        border-width: 1px;
        border-color: #8c8c8c80;
        border-style: solid;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 200px;
        height: 40px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        float: right;
    }
    .btn-add:hover, .btn-add:focus {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
        outline: none;
    }
</style>
