<template>
    <div class="container view-company">
        <div class="row title">
            <div class="col-sm-12 m-t-40">
                <h1>Informacije o kompaniji</h1>
            </div>
            <div class="col-sm-4 m-t-40">
                <img v-bind:src="endpoint + company.logo.path">
            </div>
            <div class="col-sm-8 m-t-40">
                <h2>{{company.company_name}}</h2>
                <h4><b>Email:</b> {{company.email}}</h4>
            </div>
        </div>
        <div v-if="ads.length > 0" class="row title">
            <h2>Svi oglasi kompanije:</h2>
            <div class="col-lg-5">
                <span v-for="(company,index) in ads">
                    <h3>{{index+1}}. {{company.title}}</h3>
                    <h4>{{company.description}}</h4>
                </span>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
				params: '',
				company: [],
                ads:[],
                endpoint: endPoint
            }
        },
        methods: {
            getId() {
                this.params = this.$route.params.id;
                console.log(this.params);
            },
            getData(){
                axios.get(api + 'companies/' + this.params).then(response =>{
                    this.company = response.data.entity;
                    this.ads = response.data.entity.ads;
                    console.log(this.company);
                }).catch(error => {
                    console.log(error);
                })
            },
        },
        beforeMount() {
            this.getId();
            this.getData();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .m-t-40 {
        margin-top: 40px;
    }
    .title h1 {
        color: #5a5a5a;
        float: left;
        margin: 0px;
    }
    .title p {
        color: #8a8a8a;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }
    .title h2 {
        font-size: 24px;
        color: #5a5a5a;
        margin-bottom: 0px;
        /*float: left;*/
        margin-right: 10px;
    }
    .title h3 {
        font-size: 18px;
        color: #8a8a8a;
    }
    .title h4 {
        font-size: 12px;
        color: #6a6a6a;
    }
</style>
