<template>
    <div class="container view-certificate">
        <div class="row title">
            <div class="col-xs-12">
                <h1>Informacije o sertifikatu</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 title">
                <h2>{{certificate.title}}</h2>
                <h3><b>Opis:</b> {{certificate.description}}</h3>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                params: '',
                certificate: [],
                endpoint: endPoint
            }
        },
        methods: {
            getId() {
                this.params = this.$route.params.id;
                console.log(this.params);
            },
            getCertificate(){
                axios.get(api + 'certificates/' + this.params).then(response =>{
                    this.certificate = response.data.entity;
                    console.log(this.certificate);
                }).catch(error => {
                    console.log(error);
                })
            },
        },
        beforeMount() {
            this.getId();
            this.getCertificate();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .p-l-0 {
        padding-left: 2px;
    }
    .p-r-0 {
        padding-right: 2px;
    }
    .title h1 {
        color: #5a5a5a;
        float: left;
        margin: 0px;
    }
    .title p {
        color: #8a8a8a;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }
    .title h2 {
        font-size: 24px;
        color: #5a5a5a;
        margin-bottom: 0px;
    }
    .title h3 {
        font-size: 18px;
        color: #8a8a8a;
    }
    .title h4 {
        font-size: 12px;
        color: #6a6a6a;
    }
</style>
