<template>
    <div class="container view-novosti">
        <div class="row title">
            <div class="col-sm-12 m-t-40">
                <h1>Informacije novosti</h1>
            </div>
            <div class="col-sm-4 m-t-40">
                <img v-bind:src="endpoint + data.images.path">
            </div>
            <div class="col-sm-8 m-t-40">
                <h2>{{data.title}}</h2>
                <h4>{{data.description}}</h4>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
				params: '',
				data: [],
                endpoint: endPoint
            }
        },
        methods: {
            getId() {
                this.params = this.$route.params.id;
                console.log(this.params);
            },
            getData(){
                axios.get(api + 'posts/' + this.params).then(response =>{
                    this.data = response.data.entity;
                    console.log(this.data);
                }).catch(error => {
                    console.log(error);
                })
            },
        },
        beforeMount() {
            this.getId();
            this.getData();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .title h1 {
        color: #5a5a5a;
        float: left;
        margin: 0px;
    }
    .view-novosti img {
        width: 100%;
        height: auto;
    }
    .view-novosti h2 {
        margin-top: 0px;
        margin-bottom: 2px;
    }
    .m-t-40 {
        margin-top: 40px;
    }
</style>
