<template>
    <div class="container view-student">
        <div class="row title">
            <div class="col-xs-12 col-md-4">
                <h1>Informacije o studentu</h1>
            </div>
            <div class="col-xs-12 col-md-8">
                <a :href="endpoint + student.pdf_route" v-if="role == 'admin' || role == 'company' || role == 'teacher'" target="_blank" type="button" class="btn-add pull-right">Preuzmi PDF</a>
                <button v-if="role == 'admin' || role == 'company' || role == 'teacher'" type="button" class="btn-add pull-right margin_right" data-toggle="modal" data-target="#dodajPreporuku">Dodaj preporuku</button>
            </div>
        </div>
    	<div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 info">
                <img v-bind:src="endpoint + student.image.path">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 info">
                <h1>{{student.first_name}} {{student.last_name}}</h1>
                <h3><b>Email: </b>{{student.email}}</h3>
                <h3><b>LinkedIn: </b>{{student.linkedin_url}}</h3>
                <h3><b>Grad: </b>{{student.city}}</h3>
                <h3><b>Radni odnos: </b>{{student.employment}}</h3>
                <h3><b>Datum rođenja: </b>{{student.date_of_birth}}</h3>
                <h3><b>Obrazovanje: </b>{{student.education}}</h3>
                <h3><b>Radno mesto: </b>{{student.workplace}}</h3>
            </div>
    	</div><br>
        <div class="row suggestion">
            <div class="col-xs-12">
                <h3>Preporuke:</h3>
            </div>
            <div v-if="suggestions.length > 0" class="col-xs-12 col-sm-4 col-md-3" v-for="(suggestion, index) in suggestions">
                <div class="row">
                    <div class="col-xs-12">
                         <h2>{{index+1}}. {{suggestion.title}}</h2>
                    </div>
                    <div class="col-xs-12">
                        <h4><b>Opis:</b> {{suggestion.description}}</h4>
                    </div>
                    <div class="col-xs-6">
                        <button v-if="role == 'admin'" @click="getEditSuggestion(suggestion.id, suggestion)" data-toggle="modal" data-target="#editSuggestion" type="button" class="btn-edit">Izmeni</button>
                    </div>
                    <div class="col-xs-6">
                        <button v-if="role == 'admin'" @click="getSuggestionDelete(suggestion.id)" type="button" class="btn-delete" data-toggle="modal" data-target="#deleteSuggestion">Obriši</button>
                    </div>
                </div>
            </div>
            <div v-if="certificates.length > 0" class="col-xs-12">
                <h3>Sertifikati:</h3>
                <span v-for="(certificate,index) in certificates">
                    <h2>{{index+1}}. {{certificate.title}}</h2>
                    <h4><b>Opis:</b> {{certificate.description}}</h4>
                </span>
            </div>
        </div>
        <!--MODAL dpdaj preporuku-->
        <div id="dodajPreporuku" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dodaj preporuku</h4>
                    </div>
                    <div class="modal-body padding-left-right">
                        <form>
                            <div class="form-group">
                                <label for="formGroupExampleInput3">Ime preporuke</label>
                                <input v-model="addSuggestionData.title" type="text" class="form-control" id="formGroupExampleInput3" placeholder="Upiši ime preporuke">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput4">Opis preporuke </label>
                                <textarea v-model="addSuggestionData.description" id="formGroupExampleInput4" class="form-control" placeholder="Upiši opis preporuke..."></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" @click="addSuggestion()">Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL izmeni preporuku-->
        <div id="editSuggestion" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Izmeni preporuku</h4>
                    </div>
                    <div class="modal-body padding-left-right">
                        <form>
                            <div class="form-group">
                                <label for="formGroupExampleInput1">Ime preporuke</label>
                                <input v-model="editSuggestionData.title" type="text" class="form-control" id="formGroupExampleInput1" placeholder="Izmeni ime preporuke">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Opis preporuke </label>
                                <textarea v-model="editSuggestionData.description" id="formGroupExampleInput2" class="form-control" placeholder="Izmeni opis preporuke..."></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" @click="editSuggestion(editSuggestionId)">Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL potvrdi brisanje-->
        <div id="deleteSuggestion" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Potvrdi brisanje preporuke</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" @click="deleteSuggestion(deleteSuggestionId)" class="btn btn-default" data-dismiss="modal">Potvrdi</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                params: '',
                student: [],
                editSuggestionData:{
                    title: '',
                    description: '',
                },
                addSuggestionData:{
                    title: '',
                    description: '',
                },
                deleteSuggestionId: '',
                editSuggestionId: '',
                suggestions: [],
                certificates: [],
                endpoint: endPoint,
                role: role,
            }
        },
        methods: {
            getId() {
                this.params = this.$route.params.id;
                console.log(this.params);
            },
            getData(){
                axios.get(api + 'students/' + this.params).then(response =>{
                    this.student = response.data.entity;
                    this.suggestions = response.data.entity.suggestions;
                    this.certificates = response.data.entity.certificates;
                    console.log(this.student);
                }).catch(error => {
                    console.log(error);
                })
            },
            getSuggestionDelete(id){
                this.deleteSuggestionId = id;
            },
            getEditSuggestion(id, suggestion) {
                this.editSuggestionId = id;
                this.editSuggestionData = suggestion;
            },
            addSuggestion() {
                axios.post(api+ 'suggestions', {
                    student_id: this.params,
                    title: this.addSuggestionData.title,
                    description: this.addSuggestionData.description
                }).then(response => {
                    this.getData();
                    this.$toaster.success(response.data.message);
                }).catch(error => {
                    console.log(error);
                    this.$toaster.error(error.data.message);
                })
            },
            deleteSuggestion(id) {
                axios.post(api + 'suggestions/delete/' + id).then(response => {
                    this.getData();
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
            editSuggestion(id) {
                axios.post(api + 'suggestions/update/' + id, {
                    title: this.editSuggestionData.title,
                    description: this.editSuggestionData.description
                }).then(response => {
                    console.log(response);
                    this.$toaster.success(response.data.message);
                }).catch(error => {
                    console.log(error);
                    this.$toaster.error(error.data.message);
                })
            }
        },
        beforeMount() {
            this.getId();
            this.getData();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .title {
        margin-top: 20px;
    }
    .title h1 {
        color: #5a5a5a;
        float: left;
        margin: 0px;
    }
    .title p {
        color: #8a8a8a;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }
    .info {
        margin-top: 40px;
    }
    .info img {
        width: 100%;
    }
    .info h1 {
        margin: 0px;
        font-size: 28px;
        color: #5a5a5a;
    }
    .info h3 {
        margin: 0px;
        margin-top: 8px;
        font-size: 18px;
        color: #8a8a8a;
    }
    .suggestion {
        margin-bottom: 40px;
    }
    .suggestion h2 {
        font-size: 18px;
        color: #5a5a5a;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .suggestion h4 {
        font-size: 14px;
        color: #8a8a8a;
        margin-top: 5px;
    }
    .btn-add {
        border-width: 1px;
        border-color: #8c8c8c80;
        border-style: solid;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 200px;
        height: 40px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        float: right;
        text-align: center!important;
        text-decoration: none!important;
        padding: 8px;
    }
    .btn-add:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
        text-align: center!important;
        text-decoration: none!important;
    }
    .btn-delete {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-left: 10px;
        outline: none;
    }
    .btn-delete:hover {
        border-color: #ff0000;
        color: #ff0000;
        transition: all .1s ease-out;
    }
    .btn-edit {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-left: 10px;
        outline: none;
    }
    .btn-edit:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    label {
        color: #8a8a8a;
    }
    .margin_right {
        margin-right: 10px;
    }
</style>
