<template>
	<div class="container view-course">
        <div class="row title">
            <div class="col-xs-12 col-md-4">
                <h1>Informacije o kursu</h1>
            </div>
            <div class="col-xs-12 col-md-8">
                <button @click="apply()" v-if="role == 'student' && courses.canApply == true || role == 'teacher' && courses.canApply == true" type="button" class="btn-add pull-right">Apliciraj</button>
                <button v-if="role == 'teacher' && courses.canApprove == true" type="button" class="btn-add pull-right" data-toggle="modal" data-target="#dodajAplikanta">Aplikanti</button>
            </div>
        </div>
		<div class="row">
			<div class="col-sm-4 m-t-40">
				<img v-if="courses.image.length > 0" v-bind:src="endpoint + courses.image[0].path">
			</div>
			<div class="col-sm-8 m-t-40">
				<h1>{{courses.name}}</h1>
                <h4><b>Opis kursa:</b> {{courses.description}}</h4>
                <h4 v-if="courses.status == 1"><b>Status kursa:</b> Još uvek nije počeo</h4>
                <h4 v-if="courses.status == 2"><b>Status kursa:</b> Trenutno u toku</h4>
                <h4 v-if="courses.status == 3"><b>Status kursa:</b> Završen</h4>
                <h4><b>Naziv sertifikata: </b>{{courses.certificate.title}}</h4>
                <h4><b>Opis sertifikata: </b>{{courses.certificate.description}}</h4>
                <h4><b>Trajanje kursa od: </b>{{courses.from}} - <b>do:</b> {{courses.to}}</h4>
                <p v-if="courses.students.length > 0"><b>Studenti koji pohadjaju kurs:</b></p>
                <p v-for="(student, index) in courses.students">{{index+1}}. {{student.first_name}} {{student.last_name}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 description">

			</div>
		</div>
        <!--Modal za odobravanje aplikanata-->
        <div id="dodajAplikanta" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Odobri studente za ovaj kurs</h4>
                    </div>
                    <div class="modal-body">
                        <table id="mytable2" class="table table-bordred table-striped" >
                            <thead>
                            <th style="padding-top:15px;">#</th>
                            <th style="padding-left: 15px; padding-top:15px;" >Ime i prezime</th>
                            <th style="padding-left: 15px; padding-top:15px;" >E-mail</th>
                            <th style="padding-left: 15px; padding-top:15px;">Opcije</th>
                            </thead>
                            <tbody>
                            <tr v-for="(applicant, index) in courses.applicants">
                                <td>{{index+1}}.</td>
                                <td>{{applicant.first_name}} {{applicant.last_name}}</td>
                                <td>{{applicant.email}}</td>
                                <td>
                                    <button @click="rejectStudent(applicant.id)" type="button" class="btn-delete">Obriši</button>
                                    <button @click="addStudentToCourse(applicant.id)" type="button" class="btn-addOdobri">Odobri</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--<div v-if="totalItems2 > 10" is="uib-pagination" :total-items="totalItems2" :max-size="maxSize2" v-model="pagination2" @change="pageChanged2()"></div>-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal end-->
	</div>
</template>
<script>
    export default {
        data() {
            return {
                params: '',
                courses: [],
                endpoint: endPoint,
                role: role,
            }
        },
        methods: {
            getId() {
                this.params = this.$route.params.id;
                console.log(this.params);
            },
            getData(){
                axios.get(api + 'courses/' + this.params).then(response =>{
                    this.courses = response.data.entity;
                    console.log(this.courses);
                }).catch(error => {
                    console.log(error);
                })
            },
            apply() {
                axios.post(api + 'apply-course/' + this.params).then(response => {
                    this.$toaster.success(response.data.message);
                    this.getData();
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(response.data.message);
                    console.log(error);
                })
            },
            addStudentToCourse(id) {
                axios.post(api + 'add-applicant/' + this.params, {
                    student_id: id,
                }).then(response => {
                    this.$toaster.success(response.data.message);
                    this.getData();
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(response.data.message);
                    console.log(error);
                })
            },
            rejectStudent(id) {
                axios.post(api + 'remove-applicant/' + this.params, {
                    student_id: id,
                }).then(response => {
                    this.$toaster.success(response.data.message);
                    this.getData();
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(response.data.message);
                    console.log(error);
                })
            },
        },
        beforeMount() {
            this.getId();
            this.getData();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	.view-course img {
		width: 100%;
		height: auto;
	}
	.view-course h1 {
		margin-top: 0px;
	}
	.view-course h3 {
		margin-top: 0px;
		margin-bottom: 2px;
	}
	.description h3 {
		margin-top: 40px;
	}
	.m-t-40 {
		margin-top: 40px;
	}
    .btn-add {
        border-width: 1px;
        border-color: #8c8c8c80;
        border-style: solid;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 200px;
        height: 40px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        float: right;
    }
    .btn-add:hover, .btn-add:focus {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
        outline: none;
    }
    .btn-addOdobri {
        border-width: 1px;
        border-color: #8c8c8c80;
        border-style: solid;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        /*width: 200px;*/
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        float: right;
        padding: 0px 10px 0px 10px;
        margin-right: 5px;
    }
    .btn-addOdobri:hover, .btn-addOdobri:focus {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
        outline: none;
    }
    .btn-delete {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        /*width: 120px;*/
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        /*margin-left: 8px;*/
        outline: none;
        float: right;
        padding: 0px 10px 0px 10px;
    }
    .btn-delete:hover {
        border-color: #ff0000;
        color: #ff0000;
        transition: all .1s ease-out;
    }
</style>
