<template>
    <div class="container students">
        <div class="row title">
            <div class="col-xs-12 col-md-2">
                <h1>Studenti</h1>
            </div>
            <div class="col-xs-12 col-md-10">
                <select class="form-control customSelect" id="exampleSelect1" v-model="certeficateId">
                    <option disabled selected>Svi sertifikati</option>
                    <option v-for="certificate  in allCertificates" v-bind:value="certificate.id">{{certificate.title}}</option>
                </select>
                <input v-debounce="delay" v-model.lazy="searchData" class="search" type="text" name="search" placeholder="Search..">
            </div>
        </div>
        <div class="row studenti">
            <p v-if="students == null">Nema rezultata</p>
            <div v-if="students != null" class="col-xs-12 col-md-6" v-for="(student, index) in students">
                <div class="card-students">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 student-left">
                            <img v-bind:src="endpoint + student.image.path">
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 student-right">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h1>{{student.first_name}} {{student.last_name}}</h1>
                                    <p><b>Datum rođenja:</b> {{student.date_of_birth}}</p>
                                    <p><b>Grad:</b> {{student.city}}</p>
                                    <p><b>Radni odnos:</b> {{student.employment}}</p>
                                    <p><b>E-mail:</b> {{student.email}}</p>
                                    <p><b>LinkedIn:</b> {{student.linkedin_url}}</p>
                                </div>
                                <div class="col-xs-12 position">
                                    <!--<button v-if="role == 'student'" @click="editStudentId(student.id), getStudentEdit(student.id)" type="button" class="btn btn-success vidi-vise pull-right" style="margin-left: 10px;" data-toggle="modal" data-target="#editstudenta">Izmeni</button>-->
                                    <button v-if="role == 'admin'" @click="getStudentId(student.id, index)" type="button" class="btn-delete pull-right" data-toggle="modal" data-target="#potvrdibrisanje">Obriši</button>
                                    <button @click="goTo(student.id)" type="button" class="pull-right btn-more">Vidi više</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div v-if="totalItems > 10" is="uib-pagination" :total-items="totalItems" :max-size="maxSize" v-model="pagination" @change="pageChanged()"></div>
            </div>
        </div>
    <!--MODAL potvrdi brisanje-->
    <div id="potvrdibrisanje" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Potvrdi brisanje studenta</h4>
                </div>
                <!--<div class="modal-body">-->

                <!--</div>-->
                <div class="modal-footer">
                    <button @click="deleteStudent(studentId, studentIndex)" type="button" class="btn btn-default" data-dismiss="modal">Potvrdi</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--MODAL Izmeni studenta-->
    <div id="editstudenta" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Izmeni studenta</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Ime</label>
                            <input v-model="editStudent.first_name" type="text" class="form-control" id="formGroupExampleInput">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput1">Prezime</label>
                            <input v-model="editStudent.last_name" type="text" class="form-control" id="formGroupExampleInput1">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Datum rođenja</label>
                            <input v-model="editStudent.date_of_birth" type="date" class="form-control" id="formGroupExampleInput2">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput3">Radni odnos</label>
                            <input v-model="editStudent.employment" type="text" class="form-control" id="formGroupExampleInput3">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput4">Grad</label>
                            <input v-model="editStudent.city" type="text" class="form-control" id="formGroupExampleInput4">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput5">E-mail</label>
                            <input v-model="editStudent.email" type="email" class="form-control" id="formGroupExampleInput5">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput6">LinkedIn profil</label>
                            <input v-model="editStudent.linkedin_url" type="text" class="form-control" id="formGroupExampleInput6">
                        </div>
                        <div class="form-group">
                            <label for="file">Slika</label><br>
                            <input type="file" class="" id="file" >
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button @click="editStudents(editstudentId)" type="button" class="btn btn-default" data-dismiss="modal">Sačuvaj</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</template>
<script>
    import debounce from 'v-debounce'
export default {
    data() {
        return {
            students: [],
            allCertificates: [],
            studentId: '',
            studentIndex: '',
            editStudent: [],
            editstudentId: '',
            certeficateId: '',
            searchData: '',
            delay: 700,
            endpoint: endPoint,
            role: role,
            totalItems: 0,
            pagination: { currentPage: 1, },
            maxSize: 5,
        }
    },
    watch: {
        searchData () {
            axios.post(api + 'students/search', {
                keyword: this.searchData,
                certificate_id: this.certificate_id
            }).then(response => {
                this.students = response.data.entity.data;
                this.totalItems = response.data.entity.total;
                console.log(response);
            }).catch(error => {
                console.log(error);
            })
        }
    },
    directives: {debounce},
    methods: {
        pageChanged: function() {
            this.getStudents(this.pagination.currentPage);
            console.log('Page changed to: ' + this.pagination.currentPage);
        },
        getStudents(pageNum){
            axios.get(api + 'students?page=' + pageNum).then(response =>{
                this.students = response.data.entity.data;
                this.totalItems = response.data.entity.total;
                console.log(this.students);
            }).catch(error => {
                console.log(error);
            })
        },
        getCertificates(){
            axios.get(api + 'allcertificates').then(response =>{
                this.allCertificates = response.data.entity;
                console.log( this.allCertificates);
            }).catch(error => {
                console.log(error);
            })
        },
        getStudentId(id, index) {
            this.studentId = id;
            this.studentIndex = index;
        },
        deleteStudent(id, index) {
            axios.post(api + 'students/delete/' + id).then(response => {
                this.students.splice(index, 1);
                console.log(id);
                this.$toaster.success(response.data.message);
                console.log(response);
            }).catch(error => {
                this.$toaster.error(error.data.message);
                console.log(error);
            })
        },
//        editStudentId(id) {
//            this.editstudentId = id;
//        },
//        getStudentEdit(id){
//            axios.get(api + 'students/' + id).then(response =>{
//                this.editStudent = response.data.entity;
//                console.log(this.editPost);
//            }).catch(error => {
//                console.log(error);
//            })
//        },
//        editStudents(id) {
//            let data = new FormData();
////            data.append('token', 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjc5LCJpc3MiOiJodHRwOlwvXC92dHNuaXMuZWR1LnJzXC92dHNwb3J0YWxcL2FwaVwvbG9naW4iLCJpYXQiOjE1MDUyNjI1NjEsImV4cCI6MTUwNTI5ODU2MSwibmJmIjoxNTA1MjYyNTYxLCJqdGkiOiJpTldLeHBWZDN0Q2liQUVhIn0.anwoSUZdf9hY7EGa_rklpFCUshehBui7GIo7UEIhtho');
//            data.append('first_name', this.editStudent.first_name);
//            data.append('last_name', this.editStudent.last_name);
//            data.append('date_of_birth', this.editStudent.date_of_birth);
//            data.append('linkedin_url', this.editStudent.linkedin_url);
//            data.append('email', this.editStudent.email);
//            data.append('city', this.editStudent.city);
//            data.append('employment', this.editStudent.employment);
//            data.append('profile_img', document.getElementById('file').files[0]);
//            console.log(data);
//
//            axios.post(api + 'students/update/' + id, data).then(response => {
//                this.getStudents();
//                this.$toaster.success(response.data.message);
//                console.log(response);
//            }).catch(error => {
//                this.$toaster.error(error.data.message);
//                console.log(error);
//            })
//        },
        goTo(id) {
            this.$router.push('/single-view-student/' + id);
        },
    },
    beforeMount() {
        this.getStudents();
        this.getCertificates();
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .students {
        margin-top: 30px;
    }
    .title h1 {
        color: #5a5a5a;
        float: left;
        margin: 0px;
    }
    .studenti {
        margin-top: 30px;
    }
    .studenti img {
        border-radius: 2px;
        width: 145px;
        height: 145px;
    }
    .studenti h1 {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 18px;
        color: #656565;
    }
    .studenti p {
        color: #8a8a8a;
        font-size: 12px;
        margin-bottom: 0px;
    }
    .position {
        bottom: -5px;
    }
    /* ============= css redesign ============= */
    /* new card */
    .card-students {
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
        height: 185px;
        padding: 20px;
        /*cursor: pointer;*/
    }
    /*.card-students:hover {*/
        /*box-shadow: 0 0 25px rgba(136,136,136,0.38);*/
    /*}*/
    .news-content a {
        cursor: pointer;
    }
    .btn-more {
        border: solid 1px #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        outline: none;
    }
    .btn-more:hover {
        border-color: #0275d8;
        color: #0275d8;
        transition: all .1s ease-out;
    }
    .btn-delete {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-left: 8px;
        outline: none;
    }
    .btn-delete:hover {
        border-color: #ff0000;
        color: #ff0000;
        transition: all .1s ease-out;
    }
    .search {
        width: 130px;
        box-sizing: border-box;
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        background-color: white;
        background-image: url('../assets/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 7px 20px 8px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        float: right;
        margin-right: 20px;
    }
    .search:focus {
        width: 250px;
        outline: none;
    }
    .customSelect {
        float: right;
        width: 200px;
        outline: none;
        height: 39px;
        border-radius: 2px;
        border: 1px solid #8c8c8c80;
    }
    @media only screen and (max-width: 768px)  {
        .card {
            height: auto !important;
        }
    }
    @media only screen and (min-width: 600px) and (max-width: 768px)  {
        .student-left {
            width: 35% !important;
        }
        .student-right {
            width: 65% !important;
        }
    }
     @media only screen and (max-width: 600px)  {
        .student-right {
            margin-top: 20px;
        }
    }
    
</style>
