<template>
    <div class="container sugg">
        <div class="row title">
            <div class="col-xs-12 col-md-2">
                <h1>Preporuke</h1>
            </div>
            <div class="col-xs-12 col-md-10">
                <button type="button" class="btn-add pull-right" data-toggle="modal" data-target="#myModal">Dodaj preporuku</button>
            </div>
        </div>
        <div class="row suggestion-content">
            <div v-for="(suggestion, index) in mySuggestions" class="col-sm-12 col-md-6">
                <div class="suggestion-card">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>{{suggestion.title | truncate(60)}}</h2>
                            <p><b>Opis:</b> {{suggestion.description | truncate(80)}}</p>
                            <p><b>Student:</b> {{suggestion.student.first_name}} {{suggestion.student.last_name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button v-if="suggestion.canEdit == true" type="button" class="btn-edit pull-right" @click="getSugestionData(suggestion)" style="margin-left: 10px;" data-toggle="modal" data-target="#editSuggestion">Izmeni</button>
                            <button type="button" class="btn-delete pull-right" @click="getDeleteId(suggestion.id)" data-toggle="modal" data-target="#deleteCourses">Obriši</button><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div v-if="totalItems > 10" is="uib-pagination" :total-items="totalItems" :max-size="maxSize" v-model="pagination" @change="pageChanged()"></div>
            </div>
        </div>
        <!--MODAL potvrdi brisanje-->
        <div id="deleteCourses" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Potvrdi brisanje kursa</h4>
                    </div>
                    <!--<div class="modal-body">-->

                    <!--</div>-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" @click="deleteSuggestion()">Potvrdi</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL izmeni preporuku-->
        <div id="editSuggestion" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Izmeni preporuku</h4>
                    </div>
                    <div class="modal-body padding-left-right">
                        <form>
                            <div class="form-group">
                                <label for="formGroupExampleInput1">Ime preporuke</label>
                                <input v-model="editSuggestionData.title" type="text" class="form-control" id="formGroupExampleInput1" placeholder="Izmeni ime preporuke">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Opis preporuke </label>
                                <textarea v-model="editSuggestionData.description" id="formGroupExampleInput2" class="form-control" placeholder="Izmeni opis preporuke..."></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" @click="editSuggestion()">Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dodaj studenta kog želiš da preporučiš</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row input-position">
                            <div class="col-xs-12">
                                <label>Ime preporuke</label><br>
                                <input type="text" class="form-control" placeholder="Ime preporuke" v-model="addRecommendations.title"/>
                            </div>
                            <div class="col-xs-12">
                                <label>Opis preporuke</label><br>
                                <textarea type="text" class="form-control" placeholder="Opis preporuke..." v-model="addRecommendations.description"></textarea>
                            </div>
                        </div>
                        <table id="mytable2" class="table table-bordred table-striped" >
                            <thead>
                                <th style="padding-top:15px;">Redni broj</th>
                                <th style="padding-left: 15px; padding-top:15px;" >Ime i prezime</th>
                                <th style="padding-left: 15px; padding-top:15px;">Izaberi</th>
                            </thead>
                            <tbody>
                            <tr v-for="(student, index) in  students">
                                <td>{{index+1}}</td>
                                <td>{{student.first_name}} {{student.last_name}}</td>
                                <td>
                                    <div class="checkbox">
                                        <label><input id="index" type="radio" v-bind:value="student.id" v-model="addRecommendations.student"></label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div v-if="totalItems1 > 10" is="uib-pagination" :total-items="totalItems1" :max-size="maxSize1" v-model="pagination1" @change="pageChanged1()"></div>
                    </div>
                    <div class="modal-footer">
                        <button  type="button" class="btn btn-default" data-dismiss="modal" v-bind:disabled="!isValid" @click="addSuggestion()">Sačuvaj</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                students: [],
                addRecommendations: {
                    title: '',
                    description: '',
                    student: '',
                },
                totalItems1: 0,
                pagination1: { currentPage: 1, },
                maxSize1: 5,
                mySuggestions: [],
                deleteId: '',
                editSuggestionData: [],
                totalItems: 0,
                pagination: { currentPage: 1, },
                maxSize: 5,
            }
        },
        computed:{
            isValid(){
                return this.addRecommendations.title != '' && this.addRecommendations.description != '' && this.addRecommendations.student != '';
            }
        },
        methods: {
            pageChanged1: function() {
                this.getStudents(this.pagination1.currentPage);
                console.log('Page changed to: ' + this.pagination1.currentPage);
            },
            addSuggestion() {
                axios.post(api + 'suggestions', {
                    title: this.addRecommendations.title,
                    description: this.addRecommendations.description,
                    student_id: this.addRecommendations.student,
                }).then(response => {
                    this.addRecommendations.title = '';
                    this.addRecommendations.description = '';
                    this.addRecommendations.students = [];
                    this.getMySuggestions();
                    this.$toaster.success(response.data.message);
                    console.log(response);
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log(error);
                })
            },
            getStudents(pageNum){
                axios.get(api + 'students?page=' + pageNum).then(response =>{
                    this.students = response.data.entity.data;
                    this.totalItems1 = response.data.entity.total;
                    console.log(this.students);
                }).catch(error => {
                    console.log(error);
                })
            },
            saveStudents(){
                console.log(this.addRecommendations.students);
                this.$toaster.success("You successfully added students");
            },
            pageChanged: function() {
                this.getMySuggestions(this.pagination.currentPage);
                console.log('Page changed to: ' + this.pagination.currentPage);
            },
            getMySuggestions(pageNum){
                axios.get(api + 'suggestions?page=' + pageNum).then(response =>{
                    this.mySuggestions = response.data.entity.data;
                    this.totalItems = response.data.entity.total;
                    console.log(this.mySuggestions);
                }).catch(error => {
                    console.log(error);
                })
            },
            getDeleteId(id) {
                this.deleteId = id;
            },
            deleteSuggestion() {
                axios.post(api + 'suggestions/delete/' + this.deleteId).then(response => {
                    this.getMySuggestions();
                    this.$toaster.success(response.data.message);
                }).catch(error => {
                    console.log(error);
                    this.$toaster.error(response.data.message);
                })
            },
            getSugestionData(suggestion) {
                this.editSuggestionData = suggestion;
            },
            editSuggestion() {
                axios.post(api + 'suggestions/update/' + this.editSuggestionData.id, {
                    title: this.editSuggestionData.title,
                    description: this.editSuggestionData.description
                }).then(response => {
                    this.getMySuggestions();
                    this.$toaster.success(response.data.message);
                }).catch(error => {
                    console.log(error);
                    this.$toaster.error(response.data.message);
                })
            }
        },
         beforeMount() {
            this.getMySuggestions();
            this.getStudents();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    ul {
        margin-top: 60px;
    }
    li {
        list-style: none outside none;
    }
    .title h1 {
        color: #5a5a5a;
        float: left;
        margin: 0px;
    }
    .title p {
        font-size: 14px;
        color: #8a8a8a;
    }
    label {
        color: #8a8a8a;
    }
    textarea {
        resize: none;
    }
    .sugg {
        margin-top: 30px;
    }
    .form-control {
        border-radius: 0px;
    }
    .suggestion-card {
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
        height: 150px;
        padding: 20px;
        /*cursor: pointer;*/
    }
    .btn-delete {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-left: 8px;
        outline: none;
    }
    .btn-delete:hover {
        border-color: #ff0000;
        color: #ff0000;
        transition: all .1s ease-out;
    }
    .btn-edit {
        border: 1px solid #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        margin-left: 8px;
        outline: none;
    }
    .btn-edit:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .btn-more {
        border: solid 1px #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 120px;
        height: 30px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        outline: none;
    }
    .btn-more:hover {
        border-color: #0275d8;
        color: #0275d8;
        transition: all .1s ease-out;
    }
    .btn-add {
        border: solid 1px #8c8c8c80;
        border-radius: 2px;
        font-size: 16px;
        color: #8c8c8c80;
        width: 200px;
        height: 40px;
        font-weight: 400;
        background-color: transparent;
        right: 0;
        transition: all .1s ease-out;
        float: right;
    }
    .btn-add:hover {
        border-color: #7c7c7c;
        color: #7c7c7c;
        transition: all .1s ease-out;
    }
    .suggestion-content h2 {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 18px;
        color: #656565;
    }
    .suggestion-content p {
        color: #8a8a8a;
        font-size: 12px;
    }
    .suggestion-content {
        margin-top: 30px;
    }
</style>
