<template>

</template>

<script>
    export default {
        data() {
            return {
                token: '',
                role: role
            }
        },
        methods: {
            getToken() {
                this.params = this.$route.params.token;
                this.$localStorage.set('token', this.params);
                console.log(this.params);
            },
            checkToken() {
                axios.get(api + 'authorization', this.params).then(response => {
                    if(response) {
                        console.log("TOKEN.VUE", response);
                        this.$localStorage.set('role', response.data.entity.role);
                        window.role = response.data.entity.role;
                        console.log(window.role);
                    }
                    if(this.$localStorage.get('role') == 'admin') {
                        let user = response.data.entity;
                        this.$localStorage.set('user', JSON.stringify(user));
                        window.eventHub.$emit('role', 'admin');
                        window.eventHub.$emit('user', this.user);
                    } else if(this.$localStorage.get('role') == 'company') {
                        let user = response.data.entity;
                        this.$localStorage.set('user', JSON.stringify(user));
                        window.eventHub.$emit('role', 'company');
                        window.eventHub.$emit('user', this.user);
                    } else if(this.$localStorage.get('role') == 'teacher') {
                        let user = response.data.entity;
                        this.$localStorage.set('user', JSON.stringify(user));
                        window.eventHub.$emit('role', 'teacher');
                        window.eventHub.$emit('user', this.user);
                    } else {
                        let user = response.data.entity;
                        this.$localStorage.set('user', JSON.stringify(user));
                        window.eventHub.$emit('role', 'student');
                        window.eventHub.$emit('user', this.user);
                    }
                    this.$router.push('/');
                }).catch(error => {
                    this.$toaster.error(error.data.message);
                    console.log("Error", error);
                })
            }
        },
        beforeMount() {
            this.getToken();
            this.checkToken();
        }
    }
</script>