<template>
     <div class="mdl-grid custom-padding">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Treninzi</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Lista treninga koji se slusaju, ukoliko zelite detaljne informacije o svakom treningu kliknite na karticu.
            </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col" v-for="course in courses">
            <a href="#/single-view-training">
                <div class="demo-card-image mdl-card mdl-shadow--2dp training-card">
                    <div class="mdl-card__title mdl-card--expand">
                        <img src="images/placeholder.png" alt="">
                    </div>
                    <div class="mdl-card__actions">
                        <span class="demo-card-image__filename">{{course.name}}</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</template>
<style>
    .training-card {
        height: 250px;
        text-align: center;
        margin-top: 40px;
        cursor: pointer;
    }
    .training-card:hover {
        background-color:  rgb(210, 238, 251);
    }
    .mdl-card__actions span {
        color: #fff;
    }
    .training-card .mdl-card--expand img {
        width: 100%;
        display: block;
    }
</style>
<script>
    export default {
        data() {
            return {
                courses: 'course'
            }
        },
        mounted() {
            axios.get('api/courses').then((response) => {
                this.courses = response.data.entity;
                console.log(response);
            });
        }
    }
</script>

